// Dashboard Styles
// -------------------------

#dashboard-view {
    padding: @gridGutterWidth 0;

    > SUMMARY {
        DL {
            text-align: center;
            margin: 0;
            border: @em*( 1px )/@baseFontSize solid #E6E6E6;

            DT {
                background-color: #E6E6E6;
                border-bottom: @em*( 1px )/@baseFontSize solid #E6E6E6;
                margin:0;
            }

            DD {
                font-size: 20px;
                line-height: 2em;
                margin: 0;
            }

            &.info {
                DT {
                    background-color: @infoBackground;
                    border-color: @infoBorder;
                    color: @infoText;
                }
            }

            &.success {
                DT {
                    background-color: @successBackground;
                    border-color: @successBorder;
                    color: @successText;
                }
            }

            &.warning {
                DT {
                    background-color: @warningBackground;
                    border-color: @warningBorder;
                    color: @warningText;
                }
            }

            &.error {
                DT {
                    background-color: @errorBackground;
                    border-color: @errorBorder;
                    color: @errorText;
                }
            }
        }
    }
}