// Navbar Styles
// -------------------------

BODY > HEADER {
    .navbar {
        font-family: "Cantarell", "Arial Black", "Arial Bold", sans-serif;
        //font-weight: bold;
        margin-bottom:0;

        .nav {
            margin-right:0;
        }
    }

    .navbar-inner {
        padding-left:0;
        padding-right:0;
    }

    #primaryNav {
        background-image: none !important;
        filter: none !important;
        background-color: transparent;
    }

    .brand {
        color: #001678;
        margin-left:0;
        padding-left:0;
        text-transform:uppercase;
        position: relative;

        SMALL {
            font-size: 75%;
            line-height: 1em;
        }

        IMG {
            @imageHeight: 18px;
            height: @em*( @imageHeight )/@navbarBrandFontSize;
            vertical-align:baseline;
            //@marginAdjust: 0px;
            //margin-top: @em*( @marginAdjust )/@navbarBrandFontSize;
            //margin-bottom: @em*( @marginAdjust )/@navbarBrandFontSize;
        }
    }
}