// Navbar Styles
// -------------------------

.pageHeader {
	.navbar {
		font-family: "Cantarell", "Arial Black", "Arial Bold", sans-serif;
		font-weight: bold;
		margin-bottom:0;
	}

	.navbar-inner {
		padding-left:0;
		padding-right:0;
	}
	
	.brand {
		color: #001678;
		margin-left:0;
		padding-left:0;
		font-variant: small-caps;
	}
	
	.dropdown {
		.caret {
			border-top-color: @black !important;
			border-bottom-color: @black !important;
			opacity: 1;
		}
		
		&:hover, &.open {
			.caret {
				border-top-color: @blueDark !important;
				border-bottom-color: @blueDark !important;
			}
			> a {
				color: @blueDark;
			}
		}
	}
}

.navbar .nav {
	margin-right:0;
}