// Widget Styles
// --------------

.widget HEADER {
	border-bottom: @em*(  1px )/@baseFontSize solid #E0E0E0;
	margin-bottom: @em*( 10px )/@baseFontSize;
}

.widget FOOTER {
	border-top: @em*(  1px )/@baseFontSize solid #E0E0E0;
	margin-top: @em*( 10px )/@baseFontSize;
}