.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 2.142857142857143em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*!
   ===== Primary Styles ========================================================
   Author: Luis Aleman
   =============================================================================
*/
BODY {
  font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  min-width: 67.14285714285714em;
  padding-top: 1em;
}
BODY > FOOTER {
  background-color: #F8F8F8;
  height: 2.857142857142857em;
  color: #535456;
  border-top: 0.07142857142857142em solid #e0e0e0;
  border-bottom: 0.07142857142857142em solid #e0e0e0;
}
BODY > FOOTER .logo-text {
  height: 2.5714285714285716em;
  padding-top: 0.14285714285714285em;
  padding-bottom: 0.14285714285714285em;
}
.brand {
  color: #001678 !important;
  margin-left: 0;
  padding-left: 0;
  text-transform: uppercase;
  font-weight: 600;
}
.brand SMALL {
  color: #001678 !important;
  font-size: 75%;
  line-height: 1em;
}
li [class^="icon-"],
li [class*=" icon-"] {
  line-height: 1.25em;
}
H1,
H2,
H3,
H4,
H5,
H6 {
  margin: 0;
}
.legal {
  line-height: 2.857142857142857em;
}
.reader-only {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.ui-sortable-helper {
  opacity: 0.7;
}
ui-state-highlight {
  background-color: #fcf8e3;
  border: 0.07142857142857142em solid #fbeed5;
  color: #c09853;
  visibility: visible !important;
}
/* Sergio's Styles: To be sorted */
/*.window {
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: 4px solid #E0E0E0;
    background-color: white;
    padding: 5px;
}*/
.radio-graph {
  font-size: 0.7em;
}
.point {
  fill: #339cff;
  stroke-width: 2px;
  stroke: #ffffff;
}
.point.max {
  fill: #c80000;
  stroke-width: 2px;
}
.chart {
  display: block;
  margin: auto;
  margin-top: 60px;
  font-size: 11px;
}
.tree {
  stroke: #eee;
  fill: #aaa;
  fill-opacity: .8;
}
.tree.parent {
  cursor: pointer;
  fill: steelblue;
}
text {
  pointer-events: none;
}
.login {
  background-color: #FFF;
  width: 21.428571428571427em;
  padding: 1.0714285714285714em;
  margin: auto;
  margin-top: 10%;
  border: 0.07142857142857142em solid #d5d5d5;
}
.login FORM {
  margin-bottom: 0;
}
.login .logo {
  text-align: center;
}
.login .logo IMG {
  height: 5.357142857142857em;
}
.login .brand {
  text-align: center;
  margin-bottom: 0.5em;
  font-size: 31.5px;
}
.login .controls INPUT {
  position: relative;
  font-size: 1.4em;
}
.login span.checkcox {
  margin-top: 0.6428571428571429em;
  margin-bottom: 0.6428571428571429em;
}
.login span.checkcox LABEL {
  margin-bottom: 0;
}
.control-group LABEL {
  display: none;
}
.boxshadow .login {
  border-color: none;
  -webkit-box-shadow: 0 0.07142857142857142em 0.21428571428571427em rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0.07142857142857142em 0.21428571428571427em rgba(0, 0, 0, 0.3);
  box-shadow: 0 0.07142857142857142em 0.21428571428571427em rgba(0, 0, 0, 0.3);
}
.borderradius .login {
  -webkit-border-radius: 0.35714285714285715em;
  -moz-border-radius: 0.35714285714285715em;
  border-radius: 0.35714285714285715em;
}
.cssgradients .login {
  background-color: #fafafa;
  background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
  background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
}
BODY > HEADER .navbar {
  font-family: "Cantarell", "Arial Black", "Arial Bold", sans-serif;
  font-weight: bold;
  margin-bottom: 0;
}
BODY > HEADER .navbar .nav {
  margin-right: 0;
}
BODY > HEADER .navbar .brand IMG {
  height: 0.9em;
  vertical-align: baseline;
}
BODY > HEADER .navbar-inner {
  padding-left: 0;
  padding-right: 0;
}
BODY > HEADER #primaryNav {
  background-image: none !important;
  filter: none !important;
  background-color: transparent;
}
.modal-header.tabs {
  border: 0 none;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}
.modal-header.tabs ul.nav {
  margin-bottom: 0;
  padding-left: 1.0714285714285714em;
  padding-right: 1.0714285714285714em;
}
.modal-header.tabs .nav-tabs > li,
.modal-header.tabs .nav-pills > li {
  float: none;
  display: inline-block;
  *display: inline;
  /* ie7 fix */

  zoom: 1;
  /* hasLayout ie7 trigger */

}
.modal-header.tabs .nav-tabs,
.modal-header.tabs .nav-pills {
  text-align: center;
}
.modal.span12 {
  width: 67.14285714285714em;
  margin-left: -33.57142857142857em;
}
.modal.span11 {
  width: 61.42857142857142em;
  margin-left: -30.71428571428571em;
}
.modal.span10 {
  width: 55.71428571428571em;
  margin-left: -27.857142857142854em;
}
.modal.span9 {
  width: 50em;
  margin-left: -25em;
}
.modal.span8 {
  width: 44.285714285714285em;
  margin-left: -22.142857142857142em;
}
.modal.span7 {
  width: 38.57142857142857em;
  margin-left: -19.285714285714285em;
}
.modal.span6 {
  width: 32.85714285714286em;
  margin-left: -16.42857142857143em;
}
.modal.span5 {
  width: 27.142857142857142em;
  margin-left: -13.571428571428571em;
}
.modal.span4 {
  width: 21.428571428571427em;
  margin-left: -10.714285714285714em;
}
.modal.span3 {
  width: 15.714285714285715em;
  margin-left: -7.857142857142858em;
}
.modal.span2 {
  width: 10em;
  margin-left: -5em;
}
.modal.span1 {
  width: 4.285714285714286em;
  margin-left: -2.142857142857143em;
}
#dashboard-view {
  padding: 1.4285714285714286em 0;
}
#dashboard-view .row,
#dashboard-view .row-fluid {
  position: relative;
  z-index: 5;
}
#dashboard-view .row .row-handle,
#dashboard-view .row-fluid .row-handle {
  z-index: -1;
  background-color: white;
  position: absolute;
  text-align: left;
  padding: 0.14285714285714285em 0.35714285714285715em;
  left: -1.4285714285714286em;
  right: -1.4285714285714286em;
  top: 0.35714285714285715em;
  bottom: 0.35714285714285715em;
  cursor: move;
  -webkit-box-shadow: inset 0 0 0.35714285714285715em rgba(0, 0, 0, 0.3), 0 0 0.35714285714285715em rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 0.35714285714285715em rgba(0, 0, 0, 0.3), 0 0 0.35714285714285715em rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 0.35714285714285715em rgba(0, 0, 0, 0.3), 0 0 0.35714285714285715em rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 0.35714285714285715em;
  -moz-border-radius: 0.35714285714285715em;
  border-radius: 0.35714285714285715em;
}
#dashboard-view .row [class*="span"]:first-child[style*="absolute"] + [class*="span"],
#dashboard-view .row-fluid [class*="span"]:first-child[style*="absolute"] + [class*="span"],
#dashboard-view .row [class*="span"]:first-child[class*="absolute"] + [class*="span"],
#dashboard-view .row-fluid [class*="span"]:first-child[class*="absolute"] + [class*="span"] {
  margin-left: 0;
}
#dashboard-view DL.widget {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  border: 0.07142857142857142em solid #e5e5e5;
  background-color: white;
}
#dashboard-view DL.widget DT {
  background-color: #E5E5E5;
  border-bottom: 0.07142857142857142em solid #e5e5e5;
  margin: 0;
}
#dashboard-view DL.widget DD {
  font-size: 20px;
  line-height: 2em;
  margin: 0;
}
#dashboard-view DL.widget.info DT {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #3a87ad;
}
#dashboard-view DL.widget.success DT {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}
#dashboard-view DL.widget.warning DT {
  background-color: #fcf8e3;
  border-color: #fbeed5;
  color: #c09853;
}
#dashboard-view DL.widget.error DT {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}
.well {
  background-color: #FAFAFA;
}
.well DL {
  display: block;
  margin: 0;
}
.well DL DT {
  width: 14.893617021276595%;
  font-weight: normal;
  color: #575757;
  display: block;
  text-align: right;
  float: left;
}
.well DL DD {
  width: 82.97872340425532%;
  margin-left: 2.127659574468085%;
  display: block;
  text-align: left;
  float: left;
}
.well > SMALL {
  display: block;
  text-align: center;
  line-height: 4em;
}
.well > SMALL EM {
  color: #575757;
}
.well > .list .item {
  padding: 0 1em;
}
.well.noPadding .list > *:first-child {
  border-top: none;
}
.well.noPadding .list > *:last-child {
  border-bottom: none;
}
#dashboard-view > .row + .row,
#dashboard-view > div > .row + .row,
#dashboard-view > .row + .row-fluid,
#dashboard-view > div > .row + .row-fluid,
#dashboard-view > .row-fluid + .row,
#dashboard-view > div > .row-fluid + .row,
#dashboard-view > .row-fluid + .row-fluid,
#dashboard-view > div > .row-fluid + .row-fluid {
  margin-top: 1em;
  min-height: 4.285714285714286em;
}
#dashboard-view > ARTICLE + ARTICLE,
#dashboard-view > div > ARTICLE + ARTICLE {
  margin-top: 1em;
}
.widget {
  background-color: white;
}
.widget HEADER {
  font-size: 17.5px;
  line-height: 1.25em;
  border-bottom: 0.05714285714285714em solid #e0e0e0;
  margin-bottom: 0.5714285714285714em;
}
.widget FOOTER {
  border-top: 0.07142857142857142em solid #e0e0e0;
  margin-top: 0.7142857142857143em;
}
.widget.editable {
  padding: 0 0.21428571428571427em;
  -webkit-box-shadow: 0 0 0.35714285714285715em rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 0.35714285714285715em rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 0.35714285714285715em rgba(0, 0, 0, 0.3);
}
.widget.editable NAV {
  background-color: #F8F8F8;
  border-bottom: 0.07142857142857142em solid #f0f0f0;
  margin: 0 -0.21428571428571427em;
  padding: 0 0.21428571428571427em;
}
.list HEADER,
.list FOOTER {
  padding: 0.14285714285714285em 0.5em;
  line-height: 1.3571428571428572em;
  border-top: 0.07142857142857142em solid #e6e6e6;
  border-bottom: 0.07142857142857142em solid #e6e6e6;
}
.list HEADER {
  background-color: #f5f5f5;
}
.list HEADER + .items,
.list HEADER + .legend {
  border-top: none;
}
.list FOOTER {
  background-color: #f5f5f5;
}
.list .legend {
  font-size: 12px;
  background-color: #fafafa;
  padding: 0.16666666666666666em 0.5em;
  line-height: 1.5833333333333333em;
  border-top: 0.08333333333333333em solid #e6e6e6;
  border-bottom: 0.08333333333333333em solid #e6e6e6;
}
.list .items + FOOTER,
.list .legend + FOOTER {
  border-top: none;
}
.list FORM {
  margin-bottom: 0;
}
.list.row-fluid,
.list .row-fluid {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.list.row-fluid [class*="span"],
.list .row-fluid [class*="span"] {
  min-height: 1em;
}
.list .items .item {
  font-size: 12px;
  border-top: 0.08333333333333333em solid #e6e6e6;
  padding: 0.16666666666666666em 0.5em;
}
.list .items .item:first-child {
  border-top: none !important;
}
.list .items .item:last-child {
  border-bottom: 0.08333333333333333em solid #e6e6e6;
}
.list .items .item:hover {
  background-color: #fcf8e3;
}
.list .items .item.linked {
  padding: 0 0;
}
.list .items .item.linked A {
  color: #000;
  display: block;
  text-decoration: none;
  padding: 0.16666666666666666em 0.5em;
}
.list .items .item.linked A STRONG {
  color: #0088cc;
}
.list .items .item .desc {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.list .items .item .btn-link {
  border: 0;
  border: none;
  line-height: 1.2857142857142858em;
  height: 1.2857142857142858em;
}
.list .items .item input[type="text"],
.list .items .item input[type="password"] {
  margin: 0;
  height: 1.5em;
  padding: 0 0.5em;
  font-size: 12px;
  line-height: 1.1666666666666667em;
  -webkit-border-radius: 0.3333333333333333em;
  -moz-border-radius: 0.3333333333333333em;
  border-radius: 0.3333333333333333em;
  background-color: #ffffff;
  border: 0.08333333333333333em solid #cccccc;
  -webkit-box-shadow: inset 0 0.08333333333333333em 0.08333333333333333em rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 0.08333333333333333em 0.08333333333333333em rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 0.08333333333333333em 0.08333333333333333em rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear .2s, box-shadow linear .2s;
  -moz-transition: border linear .2s, box-shadow linear .2s;
  -o-transition: border linear .2s, box-shadow linear .2s;
  transition: border linear .2s, box-shadow linear .2s;
}
.list .items .item input[type="text"]:focus,
.list .items .item input[type="password"]:focus {
  -webkit-box-shadow: inset 0 0.08333333333333333em 0.08333333333333333em rgba(0, 0, 0, 0.075), 0 0 0.6666666666666666em rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 0.08333333333333333em 0.08333333333333333em rgba(0, 0, 0, 0.075), 0 0 0.6666666666666666em rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 0.08333333333333333em 0.08333333333333333em rgba(0, 0, 0, 0.075), 0 0 0.6666666666666666em rgba(82, 168, 236, 0.6);
}
.list HEADER input[type="text"],
.list FOOTER input[type="text"],
.list HEADER input[type="password"],
.list FOOTER input[type="password"] {
  margin: 0;
  height: 1.5em;
  padding: 0 0.42857142857142855em;
  font-size: 14px;
  line-height: 1em;
  background-color: #ffffff;
  border: 0.07142857142857142em solid #cccccc;
  -webkit-box-shadow: inset 0 0.07142857142857142em 0.07142857142857142em rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 0.07142857142857142em 0.07142857142857142em rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 0.07142857142857142em 0.07142857142857142em rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear .2s, box-shadow linear .2s;
  -moz-transition: border linear .2s, box-shadow linear .2s;
  -o-transition: border linear .2s, box-shadow linear .2s;
  transition: border linear .2s, box-shadow linear .2s;
}
.list HEADER input[type="text"]:focus,
.list FOOTER input[type="text"]:focus,
.list HEADER input[type="password"]:focus,
.list FOOTER input[type="password"]:focus {
  -webkit-box-shadow: inset 0 0.07142857142857142em 0.07142857142857142em rgba(0, 0, 0, 0.075), 0 0 0.5714285714285714em rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 0.07142857142857142em 0.07142857142857142em rgba(0, 0, 0, 0.075), 0 0 0.5714285714285714em rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 0.07142857142857142em 0.07142857142857142em rgba(0, 0, 0, 0.075), 0 0 0.5714285714285714em rgba(82, 168, 236, 0.6);
}
.list HEADER .input-prepend,
.list FOOTER .input-prepend {
  margin-bottom: 0;
}
.list HEADER .add-on,
.list FOOTER .add-on {
  height: 1.5em;
  min-width: 1.1428571428571428em;
  padding: 0 0.35714285714285715em;
  font-size: 14px;
  line-height: 1.4285714285714286em;
  text-shadow: 0 0.07142857142857142em 0 #ffffff;
  border: 0.07142857142857142em solid #cccccc;
}
.list HEADER .input-prepend .add-on,
.list FOOTER .input-prepend .add-on,
.list HEADER .input-prepend .btn,
.list FOOTER .input-prepend .btn {
  margin-right: -0.07142857142857142em;
}
.list HEADER .input-prepend .add-on:first-child,
.list FOOTER .input-prepend .add-on:first-child,
.list HEADER .input-prepend .btn:first-child,
.list FOOTER .input-prepend .btn:first-child {
  -webkit-border-radius: 0.2857142857142857em 0 0 0.2857142857142857em;
  -moz-border-radius: 0.2857142857142857em 0 0 0.2857142857142857em;
  border-radius: 0.2857142857142857em 0 0 0.2857142857142857em;
}
.list HEADER .input-append input,
.list FOOTER .input-append input,
.list HEADER .input-append select,
.list FOOTER .input-append select,
.list HEADER .input-append .uneditable-input,
.list FOOTER .input-append .uneditable-input {
  -webkit-border-top-left-radius: 0.2857142857142857em 0 0 0.2857142857142857em;
  -moz-border-radius-topleft: 0.2857142857142857em 0 0 0.2857142857142857em;
  border-top-left-radius: 0.2857142857142857em 0 0 0.2857142857142857em;
  -webkit-border-bottom-left-radius: 0.2857142857142857em 0 0 0.2857142857142857em;
  -moz-border-radius-bottomleft: 0.2857142857142857em 0 0 0.2857142857142857em;
  border-bottom-left-radius: 0.2857142857142857em 0 0 0.2857142857142857em;
}
.list HEADER .input-append .add-on,
.list FOOTER .input-append .add-on,
.list HEADER .input-append .btn,
.list FOOTER .input-append .btn {
  margin-left: -0.07142857142857142em;
}
.list HEADER .input-append .add-on:last-child,
.list FOOTER .input-append .add-on:last-child,
.list HEADER .input-append .btn:last-child,
.list FOOTER .input-append .btn:last-child {
  -webkit-border-radius: 0 0.2857142857142857em 0.2857142857142857em 0;
  -moz-border-radius: 0 0.2857142857142857em 0.2857142857142857em 0;
  border-radius: 0 0.2857142857142857em 0.2857142857142857em 0;
}
.list HEADER .input-prepend.input-append .add-on:first-child,
.list FOOTER .input-prepend.input-append .add-on:first-child,
.list HEADER .input-prepend.input-append .btn:first-child,
.list FOOTER .input-prepend.input-append .btn:first-child {
  margin-right: -0.07142857142857142em;
  -webkit-border-radius: 0.2857142857142857em 0 0 0.2857142857142857em;
  -moz-border-radius: 0.2857142857142857em 0 0 0.2857142857142857em;
  border-radius: 0.2857142857142857em 0 0 0.2857142857142857em;
}
.list HEADER .input-prepend.input-append .add-on:last-child,
.list FOOTER .input-prepend.input-append .add-on:last-child,
.list HEADER .input-prepend.input-append .btn:last-child,
.list FOOTER .input-prepend.input-append .btn:last-child {
  margin-left: -0.07142857142857142em;
  -webkit-border-radius: 0 0.2857142857142857em 0.2857142857142857em 0;
  -moz-border-radius: 0 0.2857142857142857em 0.2857142857142857em 0;
  border-radius: 0 0.2857142857142857em 0.2857142857142857em 0;
}
.list .checkbox.inline {
  padding-top: 0;
}
.list .done {
  color: #468847;
}
.list .pend {
  color: #3a87ad;
}
.list .need {
  color: #c09853;
}
.list .fail {
  color: #b94a48;
}
.multipatch .list.master,
.multipatch .list.slave {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 480px;
  border: 0.07142857142857142em solid #b0b0b0;
}
.multipatch .list.master {
  overflow-y: scroll;
}
.multipatch .list.master .items .item {
  cursor: pointer !important;
}
.multipatch .list.master .items .item.first {
  background-color: #2f7ad8 !important;
  color: white !important;
}
.multipatch .list.slave {
  overflow-y: scroll;
}
SVG {
  font: 0.7142857142857143em "open sans";
  width: 100%;
}
SVG .line {
  fill: none;
  stroke: #014493;
  stroke-width: 1.5px;
}
SVG .area {
  fill: rgba(1, 68, 147, 0.5);
}
SVG .axis path,
SVG .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.no-js BODY HEADER,
.no-js BODY SECTION,
.no-js BODY FOOTER {
  display: none !important;
}
NOSCRIPT {
  display: block;
  margin: auto;
  margin-top: 15%;
  width: 50em;
  text-align: center;
  overflow: hidden;
  cursor: default;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
NOSCRIPT .title {
  font-size: 38.5px;
  line-height: 1em;
  font-weight: 600;
  text-shadow: rgba(0, 0, 0, 0.5) 0.025974025974025976em 0.025974025974025976em 0.1038961038961039em;
}
NOSCRIPT .subtitle {
  font-size: 24.5px;
  line-height: 1em;
  font-weight: 300;
  text-shadow: rgba(0, 0, 0, 0.5) 0.04081632653061224em 0.04081632653061224em 0.12244897959183673em;
}
NOSCRIPT IMG.brand {
  height: 2.5714285714285716em;
}
.noRadius {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}
.noShadow {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.noPadding {
  padding: 0 !important;
}
.noMargin {
  margin: 0 !important;
}
.noGradient {
  background-image: none;
  filter: none;
}
.noBorder {
  border: none !important;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.smallcaps {
  font-variant: small-caps;
}
.alignLeft {
  text-align: left;
}
.alignRight {
  text-align: right;
}
.alignCenter {
  text-align: center;
}
.show-grid > [class*="span"] {
  background-color: #FFF;
  background-color: rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
.visible-print {
  display: none !important;
}
@media print {
  * {
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  .visible-print {
    display: inherit !important;
  }
  .hidden-print {
    display: none !important;
  }
}
