.list {
// All buttons must be mini!!
    @listBorder: #E6E6E6;
    @listHeaderBackground: #F5F5F5;
    @listFooterBackground: #F5F5F5;
    @listLegendBackground: #FAFAFA;
    @listHighlight: @warningBackground;

    HEADER,
    FOOTER,
    .legend {
        padding: @em*(2px)/@baseFontSize 0.5em;
        line-height: @em*( @baseLineHeight - 1px )/@baseFontSize;
        border-top: @em*(1px)/@baseFontSize solid @listBorder;
        border-bottom: @em*(1px)/@baseFontSize solid @listBorder;
    }

    HEADER {
        background-color: @listHeaderBackground;

        &+ .items,
        &+ .legend {
            border-top: none;
        }
    }

    FOOTER {
        background-color: @listFooterBackground;
    }

    .legend {
        background-color: @listLegendBackground;
    }

    .items,
    .legend {
        &+ FOOTER {
            border-top: none;
        }
    }

    FORM {
        margin-bottom: 0;
    }

    .items {
        .item {
            border-top: @em*(1px)/@baseFontSize solid @listBorder;
        //border-bottom: @em*(1px)/@baseFontSize solid @listBorder;
            padding: @em*(2px)/@baseFontSize 0.5em;

            &:last-child {
                border-bottom: @em*(1px)/@baseFontSize solid @listBorder;
            }

            &:hover {
                background-color: @listHighlight;
            }

            &.row-fluid,
            .row-fluid {
                padding-left: 0;
                padding-right: 0;
                [class*="span"] {
                    min-height: 1em;
                }
            }

            &.linked {
                padding: 0 0;
                A {
                    color: #000;
                    display: block;
                    text-decoration: none;
                    padding: @em*(2px)/@baseFontSize 0.5em;

                    STRONG {
                        color: @linkColor;
                    }
                }
            }

            .desc {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }

    .btn-toolbar,
    .btn-group {
    // these classes have a font-size of 0.
    // EM based sizes wont work.
        height: 23px
    }

    .checkbox.inline {
        padding-top: 0;
    }

    .done { color: @successText; }
    .pend { color: @infoText; }
    .need { color: @warningText; }
    .fail { color: @errorText; }
}

.multipatch {
    @masterSlaveBorder: #B0B0B0;
    @slaveBackground: #f2f3f5;
    @selectedColor: #2F7AD8;
    .list {
        &.master,
        &.slave {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;

            height: 480px;
        //overflow: hidden;
            border: @em*(1px)/@baseFontSize solid @masterSlaveBorder;

            .items {
                .item {
                    &:first-child {
                        border-top: none !important;
                    }
                }
            }
        }

        &.master {
            overflow-y: scroll; // Bandage
            .items {
                .item {
                    cursor: pointer !important;

                    &.first {
                        background-color: @selectedColor !important;
                        color: white !important;
                    }
                }
            }
        }

        &.slave {
            overflow-y: scroll;
        }
    }
}