[loggers]
keys = root,rvlistener,rvweb,csrlistener

[handlers]
keys = root,rvlist_file,rvweb_file,csrlist_file

[formatters]
keys = default

[logger_root]
level = INFO
propagate = 0
qualname = root
handlers = root

[logger_rvlistener]
level = INFO
propagate = 0
qualname = rvlistener
handlers = rvlist_file

[logger_rvweb]
level = INFO
propagate = 0
qualname = rvweb
handlers = rvweb_file

[logger_csrlistener]
level = INFO
propagate = 0
qualname = csrlistener
handlers = csrlist_file

[handler_root]
class = StreamHandler
stream = sys.stdout
args = (sys.stdout,)
level = INFO
formatter = default

[handler_rvlist_file]
class = handlers.TimedRotatingFileHandler
interval = midnight
backupcount = 5
args = ("/opt/TopPatch/var/log/rvlist_file.log",)
level = INFO
formatter = default

[handler_rvweb_file]
class = handlers.TimedRotatingFileHandler
interval = midnight
backupcount = 5
args = ("/opt/TopPatch/var/log/rvweb_file.log",)
level = INFO
formatter = default

[handler_csrlist_file]
class = handlers.TimedRotatingFileHandler
interval = midnight
backupcount = 5
args = ("/opt/TopPatch/var/log/csrlist_file.log",)
level = INFO
formatter = default

[formatter_default]
format = %(asctime)s - %(name)s - %(levelname)s - %(message)s
datefmt = %Y-%m-%d %H:%M:%S

