<article>
    <section class="list">
        <div class="accordion items" id="accordion">
            <% if (data.length != 0) { %>
                <% _.each(data, function (tag) { %>
                    <div class="accordion-group item clearfix">
                        <div class="accordion-heading">
                            <span class="desc">
                                <a class="accordion-toggle" data-parent="#accordion" href="#<% print(tag.tag_name.replace(' ', '')); %>">
                                    <i class="icon-circle-arrow-down"></i>&nbsp;<%= tag.tag_name %>
                                </a>
                            </span>
                            <span style="margin-top: 6px" class="pull-right">
                                <span class="badge badge-inverse"><%= tag.nodes.length %></span>&nbsp;
                                <a href="javascript:;" name="remove" id="<%= tag.tag_name %>"><i style="color: red;" class="icon-remove"></i></a>
                            </span>
                        </div>
                        <div id="<% print(tag.tag_name.replace(' ', '')); %>" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <div class="pull-left">
                                <% if (tag.nodes.length != 0) { %>
                                    <% _.each(tag.nodes, function (node) { %>
                                        <span class="label label-info" name="<%= node %>"><%= node %></span>
                                    <% }); %>
                                <% } else { %>
                                    <em name="nonode">No nodes contain this tag</em>
                                <% } %>
                                </div>
                                &nbsp;<a href="javascript:;" name="popover" value="<%= tag.tag_name %>"><i style="color: green;" class="icon-plus"></i></a>
                            </div>
                        </div>
                    </div>
                <% }); %>
            <% } %>
        </div>
    </section>
    <section id="hide" class="hide">
        <div class="list" id="nodelist">
            <div class="items">
                <% if (nodelist && nodelist.nodes && nodelist.nodes.length != 0) { %>
                    <% _.each(nodelist.nodes, function (node) { %>
                        <div class="item clearfix">
                            <label name="<%= node.ip %>" class="checkbox"><%= node.ip %><input name="nodelist" type="checkbox" value="<%= node.id %>"/></label>
                        </div>
                    <% }); %>
                <% } else { %>
                    <div class="item clearfix">
                        <span><small><em>No nodes available</em></small></span>
                    </div>
                <% } %>
            </div>
        </div>
    </section>
</article>