<article>
    <section class="row span6">
        <div class="span4">
            <header><strong>Syslog Setup</strong></header>
        </div>
    </section>
    <section class="row span6">
        <form>
            <div class="span4">
                <label class="control-label">Syslog Server:</label>
                <input type="text" name="server"/>
            </div>
            <div class="span4">
                <label class="control-label">Port #:</label>
                <input type="text" name="port"/>
            </div>
            <div class="span4">
                <input type="submit" value="Save" class="btn btn-primary" name="submit"/>
            </div>
        </form>
    </section>
</article>