<style>
    .popover {
        z-index: 3000;
    }
</style>
<article>
    <header><strong>Time Blocker</strong></header>
    <div>
        <label class="control-label">From:</label>
        <div class="controls">
            <select type="button" name="hours" id="hours" class="span2 btn btn-mini">
                <option>01</option>
                <option>02</option>
                <option>03</option>
                <option>04</option>
                <option>05</option>
                <option>06</option>
                <option>07</option>
                <option>08</option>
                <option>09</option>
                <option>10</option>
                <option>11</option>
                <option>12</option>
            </select>
            <select type="button" name="minutes" class="span2 btn btn-mini">
                <option>00</option>
                <option>15</option>
                <option>30</option>
                <option>45</option>
            </select>
            <select name="ampm" class="span2 btn btn-mini">
                <option>AM</option>
                <option>PM</option>
            </select>
        </div>
    </div>
    <div>
        <label class="control-label">To:</label>
        <div class="controls">
            <select name="hours" class="span2 btn btn-mini">
                <option>01</option>
                <option>02</option>
                <option>03</option>
                <option>04</option>
                <option>05</option>
                <option>06</option>
                <option>07</option>
                <option>08</option>
                <option>09</option>
                <option>10</option>
                <option>11</option>
                <option>12</option>
            </select>
            <select name="minutes" class="span2 btn btn-mini">
                <option>00</option>
                <option>15</option>
                <option>30</option>
                <option>45</option>
            </select>
            <select name="ampm" class="span2 btn btn-mini">
                <option>AM</option>
                <option>PM</option>
            </select>
        </div>
    </div>
    <div>
        <label class="control-label">Repeat:</label>
        <div class="controls">
            <button type="button" class="btn btn-mini" id="dow">M Tu W Th F Sa Su</button>
        </div>
    </div>
    <div>
        <label class="control-label">Label:</label>
        <div class="controls">
            <input type="text" name="label"/>
        </div>
    </div>
    <button type="button" class="btn btn-primary btn-mini" id="add">Add</button>
</article>
<div class="hide" id="hidden">
    <select id="dowselect" multiple>
        <option value="M">Monday</option>
        <option value="Tu">Tuesday</option>
        <option value="W">Wednesday</option>
        <option value="Th">Thursday</option>
        <option value="F">Friday</option>
        <option value="Sa">Saturday</option>
        <option value="Su">Sunday</option>
    </select>
</div>