<article class="row-fluid">
    <section class="span12 list">
        <header class="clearfix">
            <div class="pull-left">&nbsp;</div>
            <div class="pull-right hidden-print">
                <button class="btn btn-mini disabled" id="list-export">
                    <span>Export</span>&nbsp;<i class="icon-download-alt"></i>
                </button>
                <button id="userEdit" class="btn btn-mini">
                    Edit
                </button>
                <button id="doneEdit" class="btn btn-mini btn-primary hide">
                    Done
                </button>
            </div>
        </header>
        <div class="items">
            <% if (data.length !== 0) { %>
                <% _.each(data, function (user) { %>
                    <div class="accordion-group item row-fluid">
                        <div class="accordion-heading span12">
                            <div class="span9">
                                <div name="edit" class="hide pull-left">
                                    <button name="toggleAcl" class="btn btn-link noPadding">
                                        <i class="icon-circle-arrow-down"></i>
                                    </button>
                                </div>&nbsp;
                                <span><%= user.username %></span>
                            </div>
                            <div name="edit" class="span3 alignRight hide">
                                <button name="globalacl" value="<%= user.id %>" class="btn btn-link noPadding">
                                    <i class="icon-pencil" style="color: #daa520;"></i>
                                </button>
                                <button name="groups" value="<%= user.id %>" class="btn btn-link noPadding">
                                    <i class="icon-user" style="color: blue"></i>
                                </button>&nbsp;
                                <button name="confirmDelete" class="btn btn-link noPadding">
                                    <i class="icon-remove" style="color:red;"></i>
                                </button>
                                <div name="divConfirmDelete" class="hide">
                                    <button name="deleteUser" class="btn btn-mini btn-danger" value="<%= user.id %>">Delete</button>
                                    <button name="cancelDelete" class="btn btn-mini">Cancel</button>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-body span12 collapse">
                            <div class="accordion-inner alignLeft">
                                <div class="span12">
                                    <button name="showAcl" class="btn btn-link noPadding"><small>Create Node Acl</small></button>
                                    <div name="aclOptions" class="hide span12">
                                        <div class="span3 noMargin">
                                            <label class="checkbox"><small>Wake on Lan</small>
                                                <input type="checkbox" name="allow_wol"/>
                                            </label>
                                        </div>
                                        <div class="span3 noMargin">
                                            <label class="checkbox"><small>Reboot</small>
                                                <input type="checkbox" name="allow_reboot"/>
                                            </label>
                                        </div>
                                        <div class="span3 noMargin">
                                            <label class="checkbox"><small>Tag Creation</small>
                                                <input type="checkbox" name="allow_tag_creation"/>
                                            </label>
                                        </div>
                                        <div class="span3 noMargin">
                                            <label class="checkbox"><small>Snapshot Removal</small>
                                                <input type="checkbox" name="allow_snapshot_removal"/>
                                            </label>
                                        </div>
                                        <div class="span3 noMargin">
                                            <label class="checkbox"><small>Snapshot Revert</small>
                                                <input type="checkbox" name="allow_snapshot_revert"/>
                                            </label>
                                        </div>
                                        <div class="span3 noMargin">
                                            <label class="checkbox"><small>Uninstall</small>
                                                <input type="checkbox" name="allow_uninstall"/>
                                            </label>
                                        </div>
                                        <div class="span3 noMargin">
                                            <label class="checkbox"><small>Snapshot Creation</small>
                                                <input type="checkbox" name="allow_snapshot_creation"/>
                                            </label>
                                        </div>
                                        <div class="span3 noMargin">
                                            <label class="checkbox"><small>Tag Removal</small>
                                                <input type="checkbox" name="allow_tag_removal"/>
                                            </label>
                                        </div>
                                        <div class="span3 noMargin">
                                            <label class="checkbox"><small>Install</small>
                                                <input type="checkbox" name="allow_install"/>
                                            </label>
                                        </div>
                                        <div class="span3 noMargin">
                                            <label class="checkbox"><small>Schedule</small>
                                                <input type="checkbox" name="allow_schedule"/>
                                            </label>
                                        </div>
                                        <span class="span11 alignRight">
                                            <span class="alert fade in hide inline"></span>
                                            <select name="nodelist" class="btn btn-mini">
                                                <option value="0">Select one...</option>
                                                <% if(nodes && nodes.nodes.length != 0) {
                                                    _.each(nodes.nodes, function (node) { %>
                                                        <option value="<%= node.id %>"><% print(node.displayname || node.hostname || node.ip); %></option>
                                                    <% });
                                                } %>
                                            </select>
                                            <button name="submitAclNode" value="<%= user.id %>" class="btn btn-mini btn-primary">Create</button>
                                            <button name="hideAcl" class="btn btn-mini">Cancel</button>
                                        </span>
                                    </div>
                                    <div class="list">
                                        <div class="items">
                                        <% if(user.node_acls.length != 0) { %>
                                            <% _.each(user.node_acls, function (acl) { %>
                                                <div class="item clearfix" name="<%= acl.node_id %>">
                                                    <span>Node <%= acl.node_id %> — <%= acl.date_created %></span>
                                                    <span class="pull-right">
                                                        <button name="removeAclNode" value="<%= user.id %>" class="btn btn-link"><i class="icon-remove" style="color: red;"></i></button>
                                                    </span>
                                                </div>
                                            <% }); %>
                                        <% } else { %>
                                            <div class="item clearfix">
                                                No node Acls.
                                            </div>
                                        <% } %>
                                        </div>
                                    </div>
                                </div>
                                <div class="span12 noMargin">
                                    <button name="showAcl" class="btn btn-link noPadding"><small>Create Tag Acl</small></button>
                                    <div name="aclOptions" class="hide span12">
                                        <div class="span3 noMargin">
                                            <label class="checkbox"><small>Wake on Lan</small>
                                                <input type="checkbox" name="allow_wol"/>
                                            </label>
                                        </div>
                                        <div class="span3 noMargin">
                                            <label class="checkbox"><small>Reboot</small>
                                                <input type="checkbox" name="allow_reboot"/>
                                            </label>
                                        </div>
                                        <div class="span3 noMargin">
                                            <label class="checkbox"><small>Tag Creation</small>
                                                <input type="checkbox" name="allow_tag_creation"/>
                                            </label>
                                        </div>
                                        <div class="span3 noMargin">
                                            <label class="checkbox"><small>Snapshot Removal</small>
                                                <input type="checkbox" name="allow_snapshot_removal"/>
                                            </label>
                                        </div>
                                        <div class="span3 noMargin">
                                            <label class="checkbox"><small>Snapshot Revert</small>
                                                <input type="checkbox" name="allow_snapshot_revert"/>
                                            </label>
                                        </div>
                                        <div class="span3 noMargin">
                                            <label class="checkbox"><small>Uninstall</small>
                                                <input type="checkbox" name="allow_uninstall"/>
                                            </label>
                                        </div>
                                        <div class="span3 noMargin">
                                            <label class="checkbox"><small>Snapshot Creation</small>
                                                <input type="checkbox" name="allow_snapshot_creation"/>
                                            </label>
                                        </div>
                                        <div class="span3 noMargin">
                                            <label class="checkbox"><small>Tag Removal</small>
                                                <input type="checkbox" name="allow_tag_removal"/>
                                            </label>
                                        </div>
                                        <div class="span3 noMargin">
                                            <label class="checkbox"><small>Install</small>
                                                <input type="checkbox" name="allow_install"/>
                                            </label>
                                        </div>
                                        <div class="span3 noMargin">
                                            <label class="checkbox"><small>Schedule</small>
                                                <input type="checkbox" name="allow_schedule"/>
                                            </label>
                                        </div>
                                        <span class="span11 alignRight">
                                            <span class="alert fade in hide inline"></span>
                                            <select name="taglist" class="btn btn-mini">
                                                <option value="0">Select one...</option>
                                                <% if(tags && tags.length != 0) {
                                                    _.each(tags, function (tag) { %>
                                                        <option value="<%= tag.tag_id %>"><%= tag.tag_name %></option>
                                                    <% });
                                                } %>
                                            </select>
                                            <button name="submitAclTag" value="<%= user.id %>" class="btn btn-mini btn-primary">Create</button>
                                            <button name="hideAcl" class="btn btn-mini">Cancel</button>
                                        </span>
                                    </div>
                                    <div class="list">
                                        <div class="items">
                                            <% if(user.tag_acls.length != 0) { %>
                                                <% _.each(user.tag_acls, function (acl) { %>
                                                    <div class="item clearfix" name="<%= acl.tag_id %>">
                                                        <span>Tag <%= acl.tag_id %> — <%= acl.date_created %></span>
                                                        <span class="pull-right">
                                                            <button name="removeAclTag" value="<%= user.id %>" class="btn btn-link"><i class="icon-remove" style="color: red;"></i></button>
                                                        </span>
                                                    </div>
                                                <% }); %>
                                            <% } else { %>
                                                <div class="item clearfix">
                                                    No tag Acls.
                                                </div>
                                            <% } %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }); %>
            <% } else { %>
                <div class="item row-fluid">
                    <div class="span9"><em>No users available.</em></div>
                </div>
            <% } %>
            <div name="edit" class="item row-fluid hide">
                <div id="addUser" class="span9">
                    <button class="btn btn-mini">Add new user...</button>
                </div>
                <div class="hide" name="newUserDiv">
                    <div class="span3">
                        <input id="username" type="text" placeholder="New User" class="input-medium"/>
                    </div>
                    <div class="span3">
                        <input id="password" type="password" placeholder="Temporary Password" class="input-medium"/>
                    </div>
                    <div class="span3">
                        <select class="btn btn-mini" name="groups">
                            <option value="READ_ONLY">Default</option>
                            <% if (groups.length !== 0) { %>
                                <% _.each(groups, function (group) { %>
                                    <option value="<%= group.groupname %>"><%= group.groupname %></option>
                                <% }); %>
                            <% } %>
                        </select>
                    </div>
                    <div class="span3 alignRight">
                        <button id="cancelNewUser" class="btn btn-mini">
                            Cancel
                        </button>
                        <button id="submitUser" class="btn btn-mini btn-primary">
                            Confirm
                        </button>
                    </div>
                </div>
            </div>
            <div name="edit" class="hide">
                <div class="alert alert-block fade in hide">
                    <span class="help-inline">test</span>
                </div>
            </div>
        </div>
    </section>
    <section class="hide" id="hiddenElements">
        <div class="list" id="globalacl" data-user="">
            <div name="newacl" class="alignLeft">
                <button class="btn btn-link noPadding" name="newAclButton">Create New Acl</button>
            </div>
            <div class="items alignLeft hide">
                <div class="item clearfix">
                    <label class="checkbox">Read Only
                        <input type="checkbox" name="read_only"/>
                    </label>
                </div>
                <div class="item clearfix">
                    <label class="checkbox">Wake on Lan
                        <input type="checkbox" name="allow_wol"/>
                    </label>
                </div>
                <div class="item clearfix">
                    <label class="checkbox">Reboot
                        <input type="checkbox" name="allow_reboot"/>
                    </label>
                </div>
                <div class="item clearfix">
                    <label class="checkbox">Tag Creation
                        <input type="checkbox" name="allow_tag_creation"/>
                    </label>
                </div>
                <div class="item clearfix">
                    <label class="checkbox">Snapshot Removal
                        <input type="checkbox" name="allow_snapshot_removal"/>
                    </label>
                </div>
                <div class="item clearfix">
                    <label class="checkbox">Snapshot Revert
                        <input type="checkbox" name="allow_snapshot_revert"/>
                    </label>
                </div>
                <div class="item clearfix">
                    <label class="checkbox">Uninstall
                        <input type="checkbox" name="allow_uninstall"/>
                    </label>
                </div>
                <div class="item clearfix">
                    <label class="checkbox">Snapshot Creation
                        <input type="checkbox" name="allow_snapshot_creation"/>
                    </label>
                </div>
                <div class="item clearfix">
                    <label class="checkbox">Tag Removal
                        <input type="checkbox" name="allow_tag_removal"/>
                    </label>
                </div>
                <div class="item clearfix">
                    <label class="checkbox">Admin
                        <input type="checkbox" name="is_admin"/>
                    </label>
                </div>
                <div class="item clearfix">
                    <label class="checkbox">Install
                        <input type="checkbox" name="allow_install"/>
                    </label>
                </div>
                <div class="item clearfix">
                    <label class="checkbox">Schedule
                        <input type="checkbox" name="allow_schedule"/>
                    </label>
                </div>
                <div class="item clearfix">
                    <button name="cancelAcl" class="btn btn-mini btn-danger">Cancel</button>
                    <button name="submitAcl" class="btn btn-mini btn-primary">Submit</button>
                </div>
            </div>
        </div>
        <div class="list" id="grouplist" data-user="">
            <div class="items">
                <% if (groups.length !== 0) { %>
                    <% _.each(groups, function (group) { %>
                        <div class="item clearfix">
                            <label class="checkbox"><%= group.groupname %>
                                <input type="checkbox" value="<%= group.groupname %>"/>
                            </label>
                        </div>
                    <% }); %>
                <% } %>
            </div>
        </div>
    </section>
</article>