<style type="text/css">
    .alignRight {
        text-align: right;
    }

    .row-fluid {
        padding: 0px 0 1px 0;
    }

    .row-fluid [class*="span"] {
        min-height: 1em;
    }
    .row-fluid + .row-fluid {
         border-top: 1px solid grey;
         margin-bottom: 0;
     }

    .fake-modal {
        width:670px;
        margin:auto;
        border:1px solid #000;
        padding:10px;
    }

    btn-group: {
        margin-bottom: 0;
    }
</style>
Primary
<div>
    <div class="row-fluid legend alignRight">
        <div>
            <button class="btn btn-mini">
                Edit
            </button>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span9">Administrator</div>
    </div>
    <div class="row-fluid">
        <div class="span9">User 1</div>
    </div>
</div>
<br>
Edit View (Options to add or delete are presented)
<div>
    <div class="row-fluid legend alignRight">
        <div>
            <button class="btn btn-mini btn-primary">
                Done
            </button>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span9">Administrator</div>
    </div>
    <div class="row-fluid">
        <div class="span9">User 1</div>
        <div class="span3 alignRight"><i class="icon-remove" style="color:red;"></i></div>
    </div>
    <div class="row-fluid">
        <div class="span9">
            <button class="btn btn-mini">Add new user...</button>
        </div>
    </div>
</div>
<br>
Pressed "Add new user..."
<div>
    <div class="row-fluid legend alignRight">
        <div>
            <button class="btn btn-mini btn-primary">
                Done
            </button>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span9">Administrator</div>
    </div>
    <div class="row-fluid">
        <div class="span9">User 1</div>
        <div class="span3 alignRight"><i class="icon-remove" style="color:red;"></i></div>
    </div>
    <div class="row-fluid">
        <div class="row-fluid">
            <div class="span4">
                <input placeholder="New User"/>
            </div>
            <div class="span4">
                <input placeholder="Temporary Password"/>
            </div>
            <div class="span4 alignRight">
                <button class="btn btn-mini">
                    Cancel
                </button>
                <button class="btn btn-mini btn-primary">
                    Confirm
                </button>
            </div>
        </div>
    </div>
</div>
<br>
Pressed Delete User (Confirm Delete Presented)
<div>
    <div class="row-fluid legend alignRight">
        <div>
            <button class="btn btn-mini btn-primary">
                Done
            </button>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span9">Administrator</div>
    </div>
    <div class="row-fluid">
        <div class="span9">User 1</div>
        <div class="span3 alignRight">
            <button class="btn btn-mini btn-danger">Delete</button>
            <button class="btn btn-mini">Cancel</button>
        </div>
    </div>
    <div class="row-fluid">
        <div class="row-fluid">
            <div class="span9">
                <button class="btn btn-mini">Add new user...</button>
            </div>
        </div>
    </div>
</div>​