<article>
    <form>
        <section class="row-fluid">
            <div class="span6">
                <label class="control-label">VMWare Host:</label>
                <input type="text" name="vm_host" value=""/>
            </div>
            <div class="span4">
                <label class="control-label">Cycle:</label>
                <select name="cycle">
                    <option value="0">Select One...</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    <option>13</option>
                    <option>14</option>
                    <option>15</option>
                    <option>16</option>
                    <option>17</option>
                    <option>18</option>
                    <option>19</option>
                    <option>20</option>
                    <option>21</option>
                    <option>22</option>
                    <option>23</option>
                    <option>24</option>
                </select>
            </div>
        </section>
        <section class="row-fluid">
            <div class="span6">
                <label class="control-label">User:</label>
                <input type="text" name="vm_user"  value=""/>
            </div>
            <div class="span4">
                <label class="control-label">Password:</label>
                <input type="password" name="vm_password"  value=""/>
            </div>
        </section>
        <section class="row-fluid">
            <div class="span6">
                <label class="control-label checkbox">
                    Automatic Snapshots<input type="checkbox" name="snapshot"  value=""/>
                </label>
            </div>
            <div class="span4">
                <div class="alert alert-block fade in hide">
                    <span class="help-inline"></span>
                </div>
            </div>
        </section>
        <section class="row-fluid">
            <div class="span6"></div>
            <div class="span4 alignRight">
                <input type="submit" value="Save" class="btn btn-primary" name="submit"/>
            </div>
        </section>
    </form>
</article>