<div class="pull-left">
    <header><strong>Change Password</strong></header>
    <form method="post" action="#" class="form-inline" id="password-form">
        <div class="control-group" id="password-control" >
            <label class="control-label" for="old-password" style="display: inline-block !important;">Old Password:</label>
            <div class="controls" style="display: inline !important;">
                <input type="password" id="old-password" name="old-password" placeholder="Old password"/>
            </div>
            <br>

            <label class="control-label" for="new-password" style="display: inline-block !important;">New Password:</label>
            <div class="controls" style="display: inline !important;">
                <input type="password" id="new-password" name="new-password" placeholder="password"/>
            </div>
            <br>

            <label class="control-label" for="password" style="display: inline-block !important;">Retype Password:</label>
            <div class="controls" style="display: inline !important;">
                <input type="password" id="password" name="password" placeholder="password"/>
            </div>
            <br>
        </div>
        <input type="submit" value="Submit" name="submit" class="btn btn-primary btn-mini"/>
    </form>
    <div class="item clearfix">
        <span class="desc"><button id="clear" class="btn btn-mini" style="display: inline !important;">Clear User Settings&nbsp;</button></span>
        <span class="hide" id="clear-ok" style="color: #468847;">Cleared&nbsp;<i style="color: green;" class="icon-ok"></i></span>
    </div>
</div>
<article>
<form class="span5 pull-right left" id="csr-form">
    <table class="span5">
        <tr>
            <th><header><strong>Approve Nodes</strong></header></th>
            <th><header><strong>Disapprove Nodes</strong></header></th>
        </tr>
        <tr>
            <td valign="top">
                <div class="list"><%
                    _.each(data, function (csr, i) {
                    if(!csr.signed) { %>
                    <div class="item clearfix">
                    <span class="desc">
                        <label class="checkbox inline">
                            <input type="checkbox" name="approve-csr" id="<%= csr.node_id %>" value="<%= csr.node_id %>"/>
                            <% print(csr.ip); %>
                        </label>
                    </span>
                    </div>
                    <% }
                    }); %>
                </div>
            </td>
            <td valign="top">
                <div class="list"><%
                    _.each(data, function (csr, i) {
                    if(csr.signed) { %>
                    <div class="item clearfix">
                    <span class="desc">
                            <% print(csr.ip); %>
                    </span>
                        <span class="pull-right">
                            <label class="checkbox inline">
                                <input type="checkbox" name="disapprove-csr" id="<%= csr.node_id %>" value="<%= csr.node_id %>"/>
                            </label>
                        </span>
                    </div>
                    <% }
                    }); %>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="pagination-right">
                <br>
                <input type="hidden" value="csr-form" name="operation">
                <input type="submit" value="Submit" name="submit" class="btn btn-primary btn-mini">
            </td>
        </tr>
    </table>
    <br>
</form>
</article>
        <!--
<article class="pull-left">
    <header><strong>Time Blocker</strong></header>
    <section class="list">
        <header class="clearfix">
            <div class="pull-right">From:
                <select type="button" name="hours" id="hours" class="span1 btn btn-mini">
                    <option>01</option>
                    <option>02</option>
                    <option>03</option>
                    <option>04</option>
                    <option>05</option>
                    <option>06</option>
                    <option>07</option>
                    <option>08</option>
                    <option>09</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                </select>
                <select type="button" name="minutes" class="span1 btn btn-mini">
                    <option>00</option>
                    <option>15</option>
                    <option>30</option>
                    <option>45</option>
                </select>
                <select name="ampm" class="span1 btn btn-mini">
                    <option>AM</option>
                    <option>PM</option>
                </select>&nbsp;To:
                <select name="hours" class="span1 btn btn-mini">
                    <option>01</option>
                    <option>02</option>
                    <option>03</option>
                    <option>04</option>
                    <option>05</option>
                    <option>06</option>
                    <option>07</option>
                    <option>08</option>
                    <option>09</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                </select>
                <select name="minutes" class="span1 btn btn-mini">
                    <option>00</option>
                    <option>15</option>
                    <option>30</option>
                    <option>45</option>
                </select>
                <select name="ampm" class="span1 btn btn-mini">
                    <option>AM</option>
                    <option>PM</option>
                </select>&nbsp;Repeat:
                <button type="button" class="btn btn-mini" id="dow">M Tu W Th F Sa Su</button>
                <button type="button" class="btn btn-mini" id="add">Add</button>
            </div>
        </header>
        <div class="items">

        </div>
    </section>
</article> -->
<script>
    $("#dow").popover({
        placement: 'top',
        title: 'Days of Week',
        html: true,
        content: '<select id="dowselect" multiple><option value="M">Monday</option><option value="Tu">Tuesday</option><option value="W">Wednesday</option><option value="Th">Thursday</option><option value="F">Friday</option><option value="Sa">Saturday</option><option value="Su">Sunday</option></select>',
        trigger: 'click'
    });
</script>
