<header><strong>User Settings</strong></header>
<form method="post" action="#" class="form-inline">
    <div class="control-group inline" id="password-control" >
        <label class="control-label" style="display: inline-block !important;" for="password">Change Password:
        <div class="controls" style="display: inline !important;">
            <input type="text" name="password" placeholder="password" id="password"/>
        </div>
        </label>
    </div>
    <input type="submit" value="Submit" name="submit" class="btn btn-primary btn-mini"/>
</form>