<section class="span12 list">
    <header class="clearfix">
        <div class="pull-right">
            <a class="btn btn-mini disabled" href="javascript:;">
                <i class="icon-cog"></i>&nbsp;Filter
            </a>
            <a class="btn btn-mini disabled" href="javascript:;">
                <span>Export</span>&nbsp;<i class="icon-download-alt"></i>
            </a>
        </div>
    </header>
    <div class="items">
        <div class="item row-fluid">
            <span class="desc span8">&nbsp;</span>
            <span class="span4 alignRight">&nbsp;</span>
        </div>
    </div>
    <footer class="clearfix">
        <div class="pull-right hidden-print">
            <a class="btn btn-mini disabled" id="back" href="javascript:;">
                Previous
            </a>
            <a class="btn btn-mini disabled" id="next" href="javascript:;">
                Next
            </a>
        </div>
    </footer>
</section>