<div class="row">
    <div class="span4">
        <div class="widget">
            <header>
                <h2>Widget Title</h2>
            </header>
            <div>
                <img src="http://placehold.it/300x200"/>
            </div>
        </div>
    </div>
    <div class="span8">
        <div class="widget">
            <header>
                <h2>Widget Title</h2>
            </header>
            <div id="example">
                <img src="http://placehold.it/620x200"/>
            </div>
        </div>
    </div>
</div>