<% if ($.type(model) === 'object') { %>
<article>
    <header><strong>Node Details</strong></header>
    <section class="well well-small noMargin clearfix">
        <dl>
            <dt>Node IP:</dt><dd><% print(model.ip || '<em>Not listed</em>'); %></dd>
            <dt>Hostname:</dt><dd><% print(model['host/name'] || '<em>Not listed</em>'); %></dd>
            <dt>Operating System:</dt><dd><% print(model['os/name'] || '<em>Not listed</em>'); %></dd>
            <dt>Tags applied:</dt>
            <dd>
                <% if (model.tags.length != 0) { %>
                <% _.each(model.tags, function (tag) { %>
                <% print(tag); %>
                <% }); %>
                <% } else { %>
                <em>No tags applied</em>
                <% } %>
                &nbsp;<a href="#" id="addTag" data-placement="right"><i style="color: green;" class="icon-plus" ></i></a>
            </dd>
            <dt>Agent Status:</dt>
            <dd>
                <% if (model['agent/status']) { %>
                Running&nbsp;<i style="color: green;" class="icon-ok"></i>
                <% } else { %>
                Stopped&nbsp;<i style="color: red;" class="icon-warning-sign"></i>
                <% } %>
            </dd>
            <dt>Host Status:</dt>
            <dd>
                <% if (model.reboot) { %>
                <form id="reboot-form" class="noMargin">
                    Reboot required <i style="color: orange;" class="icon-warning-sign"></i>&nbsp;
                    <input type="submit" value="Reboot" id="reboot-button" style="color: black;" class="btn btn-mini btn-warning"/>
                    Schedule reboot&nbsp;<input type="checkbox" name="schedule" value="once" data-placement="right"/>
                    <input type="hidden" name="operation" value="reboot" />
                    <input type="hidden" name="node" value="<%=  model.id  %>"/>
                </form>
                <% } else if (model['host/status']) { %>
                <form id="reboot-form">
                    Running &nbsp;<i style="color: green;" class="icon-ok"></i>&nbsp;
                    <input type="submit" value="Reboot" id="reboot-button" class="btn btn-mini btn-primary"/>&nbsp;
                    Schedule reboot&nbsp;<input type="checkbox" name="schedule" value="once" data-placement="right"/>
                    <input type="hidden" name="operation" value="reboot" />
                    <input type="hidden" name="node" value="<%=  model.id  %>"/>
                </form>
                <% } else { %>
                Stopped &nbsp;<i style="color: red;" class="icon-warning-sign"></i>
                <% } %>
            </dd>
        </dl>
    </section>
</article>
<article class="alert alert-success alert-block fade in hide">
    <button type="button" class="close" data-dismiss="alert">×</button>
    Operation sent&nbsp;
</article>
<article>
    <header><strong>Patches Available</strong></header>
    <section class="list">
        <% if (model['patch/need'].length != 0) { %>
        <form action="/submitForm" method="post" class="form-inline" id="available">
            <header class="clearfix">
                <label class="checkbox inline">
                    <input type="checkbox" class="toggle-all">Select / Deselect All
                </label>
                <div class="pull-right noMargin">
                    <label class="checkbox inline">
                        <input type="checkbox" name="schedule" value="once"/><small>Schedule this patch</small>&nbsp;
                    </label>
                    <select type="button" class="btn btn-mini" name="operation">
                        <option value="install">Install</option>
                        <option value="hide">Hide</option>
                    </select>
                    <select type="button" class="btn btn-mini" name="throttle">
                        <option>idle</option>
                        <option value="below_normal">below normal</option>
                        <option>normal</option>
                        <option value="above_normal">above normal</option>
                        <option>high</option>
                        <option value="real_time">real time</option>
                    </select>
                    <input type="submit" class="btn btn-mini btn-primary" value="Submit">
                </div>
                <input type="hidden" value="<% print(model.id); %>" name="node">
            </header>
            <div class="items">
                <% _.each(model['patch/need'], function (patch) { %>
                <div class="item clearfix" title="<%= patch.name %>">
                            <span class="desc">
                                <label class="checkbox inline">
                                    <input type="checkbox" id="<%= patch.id %>" name="patches" value="<%= patch.id %>">
                                    <%= patch.name %>
                                </label>
                            </span>
                            <span class="pull-right">
                                <a href="#patches/<%= patch.id %>">More information</a>
                            </span>
                </div>
                <% }); %>
            </div>
        </form>
        <% }  else { %>
        <div class="items">
            <div class="item">
                <small><em>No patches to display</em></small>
            </div>
        </div>
        <% } %>
    </section>
</article>
<article>
    <header><strong>Patches Done</strong></header>
    <section class="list">
        <% if (model['patch/done'].length != 0) { %>
        <form action="/submitForm" method="post" class="form-inline" id="done">
            <header class="clearfix">
                <label class="checkbox inline">
                    <input type="checkbox" class="toggle-all">Select / Deselect All
                </label>
                <div class="pull-right noMargin">
                    <select type="button" class="btn btn-mini" name="operation">
                        <option value="uninstall">Uninstall</option>
                        <option value="hide">hide</option>
                    </select>
                    <input type="submit" class="btn btn-mini btn-primary" value="Submit">
                </div>
                <input type="hidden" value="<% print(model.id); %>" name="node">
            </header>
            <div class="items">
                <% _.each(model['patch/done'], function (patch) { %>
                <div class="item clearfix" title="<%= patch.name %>">
                                <span class="desc">
                                    <label class="checkbox inline">
                                        <input type="checkbox" id="<%= patch.id %>" name="patches" value="<%= patch.id %>">
                                        <%= patch.name %>
                                    </label>
                                </span>
                                <span class="pull-right">
                                    <a href="#patches/<%= patch.id %>">More information</a>
                                </span>
                </div>
                <% }); %>
            </div>
        </form>
        <% }  else { %>
        <div class="items">
            <div class="item">
                <small><em>No patches to display</em></small>
            </div>
        </div>
        <% } %>
    </section>
</article>
<article>
    <header><strong>Patches Pending</strong></header>
    <section class="list" id="pending">
        <div class="items">
            <% if (model['patch/pend'].length != 0) { %>
                <% _.each(model['patch/pend'], function (patch, i) { %>
                    <div class="item clearfix" title="<%= patch.name %>">
                        <span class="desc"><%= patch.name %></span>
                        <span class="pull-right"><a href="#patches/<%= patch.id %>">More information</a></span>
                    </div>
                <% }); %>
            <% }  else { %>
                <div class="item" id="no-pending">
                    <small><em>No patches to display</em></small>
                </div>
            <% } %>
        </div>
    </section>
</article>
<article>
    <header><strong>Patches Failed</strong></header>
    <section class="list">
        <% if (model['patch/fail'].length != 0) { %>
        <form action="/submitForm" method="post" class="form-inline" id="failed">
            <header class="clearfix">
                <label class="checkbox inline">
                    <input type="checkbox" class="toggle-all">Select / Deselect All
                </label>
                <div class="pull-right noMargin">
                    <select type="button" class="btn btn-mini" name="operation">
                        <option value="install">Reinstall</option>
                        <option value="hide">hide</option>
                    </select>
                    <input type="submit" class="btn btn-mini btn-primary" value="Submit">
                </div>
                <input type="hidden" value="<% print(model.id); %>" name="node">
            </header>
            <% _.each(model['patch/fail'], function (patch) { %>
            <div class="items">
                <div class="item clearfix" title="<%= patch.name %>">
                    <span class="desc">
                        <label class="checkbox inline">
                            <input type="checkbox" id="<%= patch.id %>" name="patches" value="<%= patch.id %>">
                            <%= patch.name %>
                        </label>
                    </span>
                    <span class="pull-right">
                        <a href="#patches/<%= patch.id %>">More information</a>
                    </span>
                </div>
            </div>
            <% }); %>
        </form>
        <% }  else { %>
        <div class="items">
            <div class="item">
                <small><em>No patches to display</em></small>
            </div>
        </div>
        <% } %>
    </section>
</article>
<style>
    div.ui-datepicker{
        font-size:12px;
    }
</style>
<div id="hidden" class="hide">
    <form class="form-horizontal" id="schedule-form">
        <label>Date:</label>
        <input type="text" name="datepicker" class="input-medium"/>
        <label>Time:</label>
        <div class="inline">
            <select name="hours" id="hours" class="span1">
                <option>01</option>
                <option>02</option>
                <option>03</option>
                <option>04</option>
                <option>05</option>
                <option>06</option>
                <option>07</option>
                <option>08</option>
                <option>09</option>
                <option>10</option>
                <option>11</option>
                <option>12</option>
            </select>
            <select name="minutes" class="span1">
                <option>00</option>
                <option>15</option>
                <option>30</option>
                <option>45</option>
            </select>
            <select name="ampm" class="span1">
                <option>AM</option>
                <option>PM</option>
            </select>
        </div>
        <label>Label:</label>
        <input type="text" name="label" class="input-medium"/>
    </form>
</div>
<script>
    $('.toggle-all').click(function(el){
        var status = el.target.checked,
                form = $(el.target).parents('form');
        $(form).find(":checkbox[name=patches]").each( function() {
            $(this).attr("checked", status);
        });
    });
    $('form').submit(function (e) {
        if(this.id != 'reboot-form') {
            var fields = $(this).find('input[name="patches"]:checked');
            if (!fields.length) {
                alert('Please select at least one patch');
                return false;
            }
        }
    });
    $('#addTag').click(function (){ return false; }).popover({
        title: 'Tags Available',
        html: true,
        trigger: 'click',
        content: 'hello world'
    });
    $('input[name=schedule]').each(function () {
        $(this).popover({
            placement: 'top',
            title: 'Patch Scheduling',
            html: true,
            content: $('#schedule-form').clone(),
            trigger: 'click'
        });
    }).click(function () {
            if(this.checked) {
                $(this).data('popover').options.content.find('input[name=datepicker]').datepicker();
            } else {
                $(this).data('popover').options.content.find('input[name=datepicker]').datepicker('destroy');
            }
    });
</script>
<% } %>
