<% if ($.type(model) === 'object') { %>
<article class="accordion">
<div class="accordion-group">
    <div class="accordion-heading">
        <header>
            <a class="accordion-toggle" href="#">
                <i class="icon-circle-arrow-down"></i>&nbsp;<strong>Patches Available</strong>
                        <span class="pull-right">
                            <select class="btn btn-mini" name="severity">
                                <option>None</option>
                                <option>Optional</option>
                                <option>Recommended</option>
                                <option>Critical</option>
                            </select>
                            <span class="badge badge-inverse"><%= model['patch/need'].length %></span>
                        </span>
            </a>
        </header>
    </div>
    <div class="accordion-body collapse">
        <section class="list accordion-inner">
            <% if (model['patch/need'].length != 0) { %>
            <form action="/submitForm" method="post" class="form-inline" id="available">
                <header class="clearfix">
                    <label class="checkbox inline">
                        <input type="checkbox" class="toggle-all">Select / Deselect All
                    </label>
                    <div class="pull-right noMargin">
                        <label class="checkbox inline"><small>Schedule this patch</small></label>
                        <input type="checkbox" name="schedule" value="once"/>&nbsp;
                        <select type="button" class="btn btn-mini" name="operation">
                            <option value="install">Install</option>
                            <option value="hide">Hide</option>
                        </select>
                        <select type="button" class="btn btn-mini" name="throttle">
                            <option>idle</option>
                            <option value="below_normal">below normal</option>
                            <option>normal</option>
                            <option value="above_normal">above normal</option>
                            <option>high</option>
                            <!--<option value="real_time">real time</option>-->
                        </select>
                        <input type="submit" class="btn btn-mini btn-primary" value="Submit">
                    </div>
                    <input type="hidden" value="<% print(model.id); %>" name="node">
                </header>
                <div class="items">
                    <% _.each(model['patch/need'], function (patch) { %>
                    <div class="item clearfix" title="<%= patch.name %>">
                        <div class="row-fluid">
                                    <span class="desc span8">
                                        <label class="checkbox inline">
                                            <input type="checkbox" id="<%= patch.id %>" name="patches" value="<%= patch.id %>">
                                            <%= patch.name %>
                                        </label>
                                    </span>
                                    <span class="span4 alignRight">
                                        <a href="#patches/<%= patch.id %>">More information</a>
                                    </span>
                        </div>
                    </div>
                    <% }); %>
                </div>
            </form>
            <% }  else { %>
            <div class="items">
                <div class="item">
                    <em>No patches to display</em>
                </div>
            </div>
            <% } %>
        </section>
    </div>
</div>
<div class="accordion-group">
    <div class="accordion-heading">
        <header>
            <a class="accordion-toggle" href="#">
                <i class="icon-circle-arrow-down"></i>&nbsp;<strong>Patches Done</strong>
                <span class="badge badge-inverse pull-right"><%= model['patch/done'].length %></span>
            </a>
        </header>
    </div>
    <div class="accordion-body collapse">
        <section class="list accordion-inner">
            <% if (model['patch/done'].length != 0) { %>
            <form action="/submitForm" method="post" class="form-inline" id="done">
                <header class="clearfix">
                    <label class="checkbox inline">
                        <input type="checkbox" class="toggle-all">Select / Deselect All
                    </label>
                    <div class="pull-right noMargin">
                        <select type="button" class="btn btn-mini" name="operation">
                            <option value="uninstall">Uninstall</option>
                            <option value="hide">hide</option>
                        </select>
                        <input type="submit" class="btn btn-mini btn-primary" value="Submit">
                    </div>
                    <input type="hidden" value="<% print(model.id); %>" name="node">
                </header>
                <div class="items">
                    <% _.each(model['patch/done'], function (patch) { %>
                    <div class="item clearfix" title="<%= patch.name %>">
                        <div class="row-fluid">
                            <span class="desc span8">
                                <label class="checkbox inline">
                                    <input type="checkbox" id="<%= patch.id %>" name="patches" value="<%= patch.id %>">
                                    <%= patch.name %>
                                </label>
                            </span>
                            <span class="span4 alignRight">
                                <% if (model.os_code && model.os_code == 'linux') { %>
                                <!--
                                    <button type="button" class="btn btn-link" name="dependencies" value="<%= patch.id %>">
                                        <i style="color: orange;" class="icon-warning-sign"></i>&nbsp;
                                        <small>Dependencies</small>&nbsp;
                                    </button>&nbsp;
                                -->
                                <% } %>
                                <a href="#patches/<%= patch.id %>">More information</a>
                            </span>
                        </div>
                    </div>
                    <% }); %>
                </div>
            </form>
            <% }  else { %>
            <div class="items">
                <div class="item">
                    <em>No patches to display</em>
                </div>
            </div>
            <% } %>
        </section>
    </div>
</div>
<div class="accordion-group">
    <div class="accordion-heading">
        <header>
            <a class="accordion-toggle" href="#">
                <i class="icon-circle-arrow-down"></i>&nbsp;<strong>Patches Pending</strong>
                <span class="badge badge-inverse pull-right"><%= model['patch/pend'].length %></span>
            </a>
        </header>
    </div>
    <div class="accordion-body collapse">
        <section class="list accordion-inner" id="pending">
            <div class="items">
                <% if (model['patch/pend'].length != 0) { %>
                <% _.each(model['patch/pend'], function (patch, i) { %>
                <div class="item clearfix" title="<%= patch.name %>">
                    <div class="row-fluid">
                        <span class="desc span8"><%= patch.name %></span>
                        <span class="span4 alignRight"><a href="#patches/<%= patch.id %>">More information</a></span>
                    </div>
                </div>
                <% }); %>
                <% }  else { %>
                <div class="item" id="no-pending">
                    <em>No patches to display</em>
                </div>
                <% } %>
            </div>
        </section>
    </div>
</div>
<div class="accordion-group">
    <div class="accordion-heading">
        <header>
            <a class="accordion-toggle" href="#">
                <i class="icon-circle-arrow-down"></i>&nbsp;<strong>Patches Failed</strong>
                <span class="badge badge-inverse pull-right"><%= model['patch/fail'].length %></span>
            </a>
        </header>
    </div>
    <div class="accordion-body collapse">
        <section class="list accordion-inner">
            <% if (model['patch/fail'].length != 0) { %>
            <form action="/submitForm" method="post" class="form-inline" id="failed">
                <header class="clearfix">
                    <label class="checkbox inline">
                        <input type="checkbox" class="toggle-all">Select / Deselect All
                    </label>
                    <div class="pull-right noMargin">
                        <select type="button" class="btn btn-mini" name="operation">
                            <option value="install">Reinstall</option>
                            <option value="hide">hide</option>
                        </select>
                        <input type="submit" class="btn btn-mini btn-primary" value="Submit">
                    </div>
                    <input type="hidden" value="<% print(model.id); %>" name="node">
                </header>
                <% _.each(model['patch/fail'], function (patch) { %>
                <div class="items">
                    <div class="item clearfix" title="<%= patch.name %>">
                        <div class="row-fluid">
                            <span class="desc span8">
                                <label class="checkbox inline">
                                    <input type="checkbox" id="<%= patch.id %>" name="patches" value="<%= patch.id %>">
                                    <%= patch.name %>
                                </label>
                            </span>
                            <span class="span4 alignRight">
                                <a href="#patches/<%= patch.id %>">More information</a>
                            </span>
                        </div>
                    </div>
                </div>
                <% }); %>
            </form>
            <% }  else { %>
            <div class="items">
                <div class="item">
                    <em>No patches to display</em>
                </div>
            </div>
            <% } %>
        </section>
    </div>
</div>
</article>
<% } %>