<% $.each(models, function (k, model) { %>
    <article>
        <header><strong>Node Details</strong></header>
        <section class="well clearfix">
            <dl>
                <dt>Node IP:</dt><dd><% print(model.get('ip')); %></dd>
                <dt>Hostname:</dt><dd><% print(model.get('host/name')); %></dd>
                <dt>Host Status:</dt><dd><% print(model.get('host/status')); %></dd>
                <dt>Agent Status:</dt><dd><% print(model.get('agent/status')); %></dd>
                <dt>Operating System:</dt><dd><% print(model.get('os/name')); %></dd>
            </dl>
        </section>
    </article>
    <article>
        <header><strong>Patches Available</strong></header><br>
        <% if(model.get("patch/need").length != 0) { %>
            <form action="/submitForm" method="post">
                <div class="clearfix">
                    <ul style="display: inline;">
                        <li style="display: inline;">
                            <span><input type="checkbox" onclick="toggleChecked(this);" style="margin-bottom: 5px">Select / Deselect All</span>
                        </li>
                        <li style="display: inline;">
                            <span class="pull-right">
                                <input type="hidden" value="<% print(model.get('id')); %>" name="node">
                                <input type="submit" value="Submit">
                            </span>
                        </li>
                        <li style="display: inline;">
                            <span class="pull-right">
                                <select name="operation">
                                    <option value="install">Install</option>
                                    <option value="hide">Hide</option>
                                </select>&nbsp;&nbsp;
                            </span>
                        </li>
                        <li style="display: inline;"><span class="pull-right">Operation:&nbsp;&nbsp;</span></li>
                    </ul>
                </div>
                <section class="well noPadding">
                    <div class="list">
                        <% $.each(model.get("patch/need"), function (i, patch) { %>
                        <div class="item clearfix">
                            <span class="desc"><input type="checkbox" id="<%= patch %>" name="patches" value="<%= patch %>" style="margin-bottom: 5px">Patch ID: <%= patch %></span>
                                    <span class="pull-right"><a href="#patches/<%= patch %>">More information</a></span>
                        </div>
                        <% }); %>
                    </div>
                </section>
            </form>
        <% }  else { %>
            <section class="well noPadding">
                <small><em>No patches to display</em></small>
            </section>
        <% } %>
    </article>
    <article>
        <header><strong>Patches Done</strong></header><br>
        <% if(model.get("patch/done").length != 0) { %>
            <form action="/submitForm" method="post">
                <div class="clearfix">
                    <ul style="display: inline;">
                        <li style="display: inline;">
                            <span><input type="checkbox" onclick="toggleChecked(this);" style="margin-bottom: 5px">Select / Deselect All</span>
                        </li>
                        <li style="display: inline;">
                            <span class="pull-right">
                                <input type="hidden" value="<% print(model.get('id')); %>" name="node">
                                <input type="submit" value="Submit">
                            </span>
                        </li>
                        <li style="display: inline;">
                            <span class="pull-right">
                                <select name="operation">
                                    <option value="uninstall">Uninstall</option>
                                    <option value="hide">Hide</option>
                                </select>&nbsp;&nbsp;
                            </span>
                        </li>
                        <li style="display: inline;"><span class="pull-right">Operation:&nbsp;&nbsp;</span></li>
                    </ul>
                </div>
                <section class="well noPadding">
                    <div class="list">
                        <% $.each(model.get("patch/done"), function (i, patch) { %>
                            <div class="item clearfix">
                                <span class="desc"><input type="checkbox" id="<%= patch %>" name="patches" value="<%= patch %>" style="margin-bottom: 5px">Patch ID: <%= patch %></span>
                                <span class="pull-right"><a href="#patches/<%= patch %>">More information</a></span>
                            </div>
                        <% }); %>
                    </div>
                </section>
            </form>
        <% }  else { %>
            <section class="well noPadding">
                <small><em>No patches to display</em></small>
            </section>
        <% } %>
    </article>
    <article>
        <header><strong>Patches Pending</strong></header><br>
        <% if(model.get("patch/pend").length != 0) { %>
            <section class="well noPadding">
                <div class="list">
                    <% $.each(model.get("patch/pend"), function (i, patch) { %>
                        <div class="item clearfix">
                            <span class="desc">Patch ID: <%= patch %></span>
                            <span class="pull-right"><a href="#patches/<%= patch %>">More information</a></span>
                        </div>
                    <% }); %>
                </div>
            </section>
        <% }  else { %>
            <section class="well noPadding">
                <small><em>No patches to display</em></small>
            </section>
        <% } %>
    </article>
    <article>
        <header><strong>Patches Failed</strong></header><br>
        <% if(model.get("patch/fail").length != 0) { %>
        <form action="/submitForm" method="post">
            <div class="clearfix">
                <ul style="display: inline;">
                    <li style="display: inline;">
                        <span><input type="checkbox" onclick="toggleChecked(this);" style="margin-bottom: 5px">Select / Deselect All</span>
                    </li>
                    <li style="display: inline;">
                        <span class="pull-right">
                            <input type="hidden" value="<% print(model.get('id')); %>" name="node">
                            <input type="submit" value="Submit">
                        </span>
                    </li>
                    <li style="display: inline;">
                        <span class="pull-right">
                            <select name="operation">
                                <option value="install">Reinstall</option>
                                <option value="hide">Hide</option>
                            </select>&nbsp;&nbsp;
                        </span>
                    </li>
                    <li style="display: inline;"><span class="pull-right">Operation:&nbsp;&nbsp;</span></li>
                </ul>
            </div>
            <section class="well noPadding">
                <div class="list">
                    <% $.each(model.get("patch/fail"), function (i, patch) { %>
                        <div class="item clearfix">
                            <span class="desc"><input type="checkbox" id="<%= patch %>" name="patches" value="<%= patch %>" style="margin-bottom: 5px">Patch ID: <%= patch %></span>
                            <span class="pull-right"><a href="#patches/<%= patch %>">More information</a></span>
                        </div>
                    <% }); %>
                </div>
            </section>
        </form>
        <% }  else { %>
            <section class="well noPadding">
                <small><em>No patches to display</em></small>
            </section>
        <% } %>
    </article>
    <script>
        function toggleChecked(el) {
            var status = el.checked,
            form = $(el).parents('form');
           $(form).find(":checkbox").each( function() {
                $(this).attr("checked", status);
            });
        }
        $('form').submit(function (e) {
           var fields = $(this).find('input[name="patches"]:checked');
            if (!fields.length) {
                alert('Please select at least one patch');
                return false;
            }
        });
    </script>
<% }); %>