<section class="navbar container">
	<% if(show.brandHeader) { %>
		<nav class="navbar-inner noBorder noRadius noShadow clearfix" id="primaryNav">
			<span class="brand">
				<a href="#"><img src="img/brand-name.png" alt="Top Patch"></a> | R<small>emediation</small> V<small>ault</small>
			</span>
			<div class="btn-group pull-right noMargin hidden-print">
				<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
					<i class="icon-user"></i>&nbsp;<span><%= name %></span>&nbsp;<i class="icon-caret-down"></i>
				</a>
				<ul class="dropdown-menu">
					<li><a href="javascript:;">Account Settings</a></li>
					<li class="divider"></li>
					<li><a href="javascript:;">Logout</a></li>
				</ul>
			</div>
		</nav>
	<% } %>
	<% if(show.dashNav) { %>
		<nav class="navbar-inner clearfix hidden-print" id="dashboardNav">&nbsp;</nav>
	<% } %>
	<hr class="visible-print noMargin">
</section>