<article class="row">
    <section class="span12 list">
        <header class="clearfix">
            <div class="pull-right">
                <a class="btn btn-mini disabled" href="javascript:;">
                    <i class="icon-cog"></i>&nbsp;Filter
                </a>
                <a class="btn btn-mini disabled" href="javascript:;">
                    <span>Export</span>&nbsp;<i class="icon-download-alt"></i>
                </a>
            </div>
        </header>
        <%
        if (data.length > 0) {
        %>
        <div class="legend">
            <span><strong>Vendor Name</strong> — Patch Name</span>
            <span class="patches pull-right inlineBlock">
                Nodes
                <span class="done">Done</span> /
                <span class="pend">Pending</span> /
                <span class="need">Available</span> /
                <span class="fail">Failed</span>
            </span>
        </div>
        <%
        _.each(data, function (patch) {
        %>
        <div class="item linked clearfix">
            <a href="#patches/<%= patch.id %>">
                <span class="desc"><strong><%= patch.vendor.name %></strong> — <%= patch.name %></span>
                <span class="pull-right">
                    <span class="done"><%= patch['nodes/done'] %></span> /
                    <span class="pend"><%= patch['nodes/pend'] %></span> /
                    <span class="need"><%= patch['nodes/need'] %></span> /
                    <span class="fail"><%= patch['nodes/fail'] %></span>
                    &nbsp;<i class="icon-caret-right"></i>&nbsp;
                </span>
            </a>
        </div>
        <%
        } // end _.each
        );// end if
        }
        %>
        <footer class="clearfix">
            <small>Viewing <%= start %> – <%= end %> of <%= recordCount %> Nodes</small>
            <div class="pull-right hidden-print">
                <a class="btn btn-mini<% if(!prevEnable) { print(' disabled'); } %>" href="<% prevEnable ? print(prevLink) : print('javascript:;') %>">
                    Previous
                </a>
                <a class="btn btn-mini<% if(!nextEnable) { print(' disabled'); } %>" href="<% nextEnable ? print(nextLink) : print('javascript:;') %>">
                    Next
                </a>
            </div>
        </footer>
    </section>
</article>