<article class="row">
    <section class="span12 list">
        <header class="row-fluid clearfix">
                <div class="input-prepend span2">
                    <span class="add-on" style="height: 13px;"><i class="icon-search"></i></span>
                    <input type="text" name="search" class="input-small" style="height: 13px;" value="<% print(searchQuery || '') %>"/>
                </div>
                <div class="span4 inline">
                    <small>Search By:</small>
                    <select name="searchby" class="btn btn-mini">
                        <option value="name" <% searchBy == 'name' ? print('selected') : ''; %>>Name</option>
                        <option value="kb" <% searchBy == 'kb' ? print('selected') : ''; %>>KB</option>
                        <option value="description" <% searchBy == 'description' ? print('selected') : ''; %>>Description</option>
                    </select>
                </div>
                <div class="pull-right"><small>Filter By:</small>
                    <select name="filter" class="btn btn-mini">
                        <option value="none" <% if(type == '') { print('selected'); } %> >None</option>
                        <option value="available" <% if(type == 'available') { print('selected'); } %> >Available</option>
                        <option value="pending" <% if(type == 'pending') { print('selected'); } %> >Pending</option>
                        <option value="failed" <% if(type == 'failed') { print('selected'); } %> >Failed</option>
                        <option value="installed" <% if(type == 'installed') { print('selected'); } %> >Installed</option>
                    </select>
                    <!--
                    <button class="btn btn-mini disabled">
                        <i class="icon-cog"></i>&nbsp;Filter
                    </button>
                    -->
                    <button class="btn btn-mini disabled">
                        <span>Export</span>&nbsp;<i class="icon-download-alt"></i>
                    </button>
            </div>
        </header>
        <% if (data.length > 0) { %>
        <div class="legend">
            <span><strong>Vendor Name</strong> — Patch Name</span>
            <span class="patches pull-right">
                Nodes
                <span class="done">Done</span> /
                <span class="pend">Pending</span> /
                <span class="need">Available</span> /
                <span class="fail">Failed</span>
            </span>
        </div>
        <div class="items">
            <% _.each(data, function (patch) { %>
                <div class="item linked clearfix" title="<%= patch.name %>">
                    <div class="row-fluid">
                        <a href="#patches/<%= patch.id %>">
                            <span class="desc span8"><strong><%= patch.vendor.name %></strong> — <%= patch.name %></span>
                            <span class="span4 alignRight">
                                <span class="done"><%= patch['nodes/done'] %></span> /
                                <span class="pend"><%= patch['nodes/pend'] %></span> /
                                <span class="need"><%= patch['nodes/need'] %></span> /
                                <span class="fail"><%= patch['nodes/fail'] %></span>
                                &nbsp;<i class="icon-caret-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
            <% }); // end _.each %>
        </div>
        <% } else { %>
            <div class="items">
                <div class="item clearfix">
                    <span class="desc"><em>No patches.</em></span>
                </div>
            </div>
        <% } %>
        <footer class="clearfix">
            <small>Viewing <%= start %> – <%= end %> of <%= recordCount %> Patches</small>
            <div class="pull-right hidden-print">
                <a class="btn btn-mini<% if(!prevEnable) { print(' disabled'); } %>" href="<% prevEnable ? print(prevLink) : print('javascript:;') %>">
                    Previous
                </a>
                <a class="btn btn-mini<% if(!nextEnable) { print(' disabled'); } %>" href="<% nextEnable ? print(nextLink) : print('javascript:;') %>">
                    Next
                </a>
            </div>
        </footer>
    </section>
</article>