<% if ($.type(model) === 'object') { %>
<article>
    <header><strong>Patch Details</strong></header>
    <section class="well clearfix">
        <dl>
            <dt>Name:</dt>
            <dd><% print(model.name); %></dd>
            <dt>Vendor:</dt>
            <dd><% print(model.vendor.name || '<em>Not listed</em>'); %></dd>
            <dt>Vendor Patch ID:</dt>
            <dd><% print(model.vendor.patchID || '<em>Not listed</em>'); %></dd>
            <dt>Release Date:</dt>
            <dd><% print(model.date || '<em>Not listed</em>'); %></dd>
            <dt>Severity:</dt>
            <dd><% print(model.severity || '<em>Not listed</em>'); %></dd>
            <dt>Description:</dt>
            <dd><% print(model.description || '<em>Not listed</em>'); %></dd>
        </dl>
    </section>
</article>
<article>
    <header><strong>Nodes that need this patch</strong></header>
    <section class="well noPadding">
        <% if(model.available && model.available.nodes && model.available.count != 0) { %>
        <div class="list">
            <% _.each(model.available.nodes, function (node) { %>
            <div class="item clearfix">
                <span class="desc"><strong>Node:</strong> <%= node.ip %></span>
                        <span class="pull-right"><a href="#nodes/<%= node.id %>">More information</a></span>
            </div>
            <% }); %>
        </div>
        <% }  else { %>
            <small><em>No nodes to display</em></small>
        <% } %>
    </section>
</article>
<article>
    <header><strong>Nodes that have this patch</strong></header>
    <section>
        <div class="well noPadding">
            <% if(model.installed && model.installed.nodes && model.installed.count != 0) { %>
            <div class="list">
                <% _.each(model.installed.nodes, function (node) { %>
                <div class="item clearfix">
                    <span class="desc"><strong>Node:</strong> <%= node.ip %></span>
                            <span class="pull-right"><a href="#nodes/<%= node.id %>">More information</a></span>
                </div>
                <% }); %>
            </div>
            <% }  else { %>
            <small><em>No nodes to display</em></small>
            <% } %>
        </div>
    </section>
</article>
<article>
    <header><strong>Nodes installing this patch</strong></header>
    <section>
        <div class="well noPadding">
            <% if(model.pending && model.pending.count != 0) { %>
            <div class="list">
                <% _.each(model.pending.nodes, function (node) { %>
                <div class="item clearfix">
                    <span class="desc"><strong>Node:</strong> <%= node.ip %></span>
                                <span class="pull-right"><a href="#nodes/<%= node.id %>">More information</a></span>
                </div>
                <% }); %>
            </div>
            <% }  else { %>
            <small><em>No nodes to display</em></small>
            <% } %>
        </div>
    </section>
</article>
<header><strong>Nodes that failed to apply this patch</strong></header>
<section>
    <div class="well noPadding">
        <% if(model.failed && model.failed.count != 0) { %>
        <div class="well">
            <% $.each(model.failed.nodes, function (i, node) { %>
            <div class="item clearfix">
                <span class="desc"><strong>Node:</strong> <%= node.ip %></span>
                                <span class="pull-right"><a href="#nodes/<%= node.id %>">More information</a></span>
            </div>
            <% }); %>
        </div>
        <% }  else { %>
        <small><em>No nodes to display</em></small>
        <% } %>
    </div>
</section>
<% } %>