<div class="row">
    <div class="span12">
        <div class="clearfix" data-pjax="">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#patchAdmin/byNode" data-filter="">
                        Node List
                    </a>
                </li>
                <li>
                    <a href="#patchAdmin/byPatch" data-filter="" class="">
                        Patch List
                    </a>
                </li>
            </ul>
        </div>
        <div class="">Sending Request…</div>
        <div class="" style="display:none">
            <p>There was an error serving your request</p>
        </div>
        <div class="" id="patchList">
            <% if (true) { %>
                <div class="none">
                    <p>
                        No nodes/patches to show.
                        <a href="javascript:;">
                            Clear active filters.
                        </a>
                    </p>
                </div>
            <% } else { %>
                <table>
                    <thead></thead>
                    <tfoot></tfoot>
                    <tbody></tbody>
                </table>
            <% }%>
        </div>
    </div>
</div>