<article class="row-fluid">
    <section class="list">
        <div class="items">
            <div class="legend">
                <span><strong>Job Name</strong> — Type  — Date</span>
                <span class="patches pull-right">
                    <span>Total Runs</span> /
                    <span>Operation</span> /
                    <span>Remove</span>
                </span>
            </div>
            <% if(data.length != 0) { %>
                <% _.each(data, function (schedule) { %>
                    <div class="item clearfix">
                        <span class="span8">
                            <strong><%= schedule.job_name %></strong> —
                            <%= schedule.schedule_type %> —
                            <%= schedule.next_run_time %>
                        </span>
                        <span class="span4 alignRight">
                            <%= schedule.runs %> /
                            <%= schedule.operation || 'N/A' %> /
                            <button type="button" class="btn btn-link noPadding" name="remove" value="<%= schedule.job_name %>">
                                <i style="color: red; vertical-align: 20%;" class="icon-remove"></i>
                            </button>
                        </span>
                    </div>
                <% }); %>
            <% }  else { %>
                <div class="item clearfix">
                    <span class="span12"><em>No scheduled patches.</em></span>
                </div>
            <% } %>
        </div>
    </section>
</article>
<article class="alert alert-block fade in hide"></article>