<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>TopPatch RemediationVault</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="font/cantarell/stylesheet.css">
    <link rel="stylesheet" href="font/open-sans/stylesheet.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/application.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/jquery-ui-timepicker-addon.css">
    <script src="js/libs/modernizr/modernizr.custom.js"></script>
</head>
<body>
<!--[if lt IE 7]<section class="container"><div class="alert alert-error chromeframe" id="ie-warning"><a class="close" data-dismiss="alert">×</a><strong>Top Patch does not support your browser.</strong> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</div></section><![endif]-->
<!-- main -->
<section class="container" id="dashboard-view" role="main">
    <div class="loading_indicator">
        <div class="pinwheel">
            <div class="pinwheel animated infinite linear spin">
                <div class="pinwheel animated infinite linear spin reverse doubleTime">
                    &nbsp;
                </div>
            </div>
        </div>
        <div class="brand alignCenter">
            R<small>emediation</small>V<small>ault</small>
        </div>
    </div>
</section>
<!--/main -->
<noscript>
    <div class="title">JavaScript is required.</div>
    <div class="subtitle">&nbsp;</div>
    <div class="subtitle">To use TopPatch RemediationVault, enable JavaScript in your browser and try again.</div>
    <hr/>
    <div class=""><a href="http://www.toppatch.com/"><img src="img/brand-name-tag.png" class="brand" alt="Top Patch brand"/></a></div>
</noscript>
<script data-main="js/config" src="js/libs/require/require.js"></script>
<script type="text/template" id="widget_template">
    <article id="<%= widget %>" class="<%= span %> widget editable">
        <div id="<%= graphcontainer %>" class="window">
            <nav class="clearfix hidden-print">
                <div id="<%= menu %>" class="dropdown pull-right">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#<%= menu %>"><i class="icon-list-ul"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" class="remove">Hide</a></li>
                        <li><a data-toggle="modal" href="#widgetProperties" class="properties">Properties</a></li>
                    </ul>
                </div>
            </nav>
            <header id="<%= widget %>-title"><%= title %></header>
            <div id="<%= graph %>" class="graph" value="<%= graphType %>">&nbsp;</div>
        </div>
        <nav class="row-handle">&nbsp;</nav>
    </article>
</script>
<script type="text/template" id="tags_template">
    <article>
        <section class="list">
            <div class="legend">
                <span><small>Name — </small></span>
                <span class="patches pull-right">
                    <span class="done"><small>D</small></span> /
                    <span class="pend"><small>P</small></span> /
                    <span class="need"><small>A</small></span> /
                    <span class="fail"><small>F</small></span>
                </span>
            </div>
            <div class="items">
                <% if (data && data.length !== 0) { %>
                    <% _.each(data, function (tag) { %>
                        <div class="item">
                            <a href="#nodes?filterby=<%= tag.tag_name %>">
                                <span><%= tag.tag_name %></span>
                                <span class="pull-right">
                                    <% if (tag.reboots_pending > 0) { %>
                                        <i style="color: orange;" class="icon-warning-sign"></i>&nbsp;
                                    <% } %>
                                    <% if (tag.agents_down > 0) { %>
                                        <i style="color: red;" class="icon-warning-sign"></i>&nbsp;
                                    <% } %>
                                    <% tag.patches_completed > 0 ? print('<span class="done">' + tag.patches_completed + '</span>') : print('<span>' + tag.patches_completed + '</span>');%> /
                                    <% tag.patches_pending > 0 ? print('<span class="pend">' + tag.patches_pending + '</span>') : print('<span>' + tag.patches_pending + '</span>');%> /
                                    <% tag.patches_available > 0 ? print('<span class="need">' + tag.patches_available + '</span>') : print('<span>' + tag.patches_available + '</span>');%> /
                                    <% tag.patches_failed > 0 ? print('<span class="fail">' + tag.patches_failed + '</span>') : print('<span>' + tag.patches_failed + '</span>');%>
                                </span>
                            </a>
                        </div>
                    <% }); %>
                <% } else { %>
                    <div class="item">
                        <em>No tags available.</em>
                    </div>
                <% } %>
            </div>
        </section>
    </article>
</script>
</body>
</html>