<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
	<meta charset="utf-8">
	<title>TopPatch App</title>
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width">
	<link href='http://fonts.googleapis.com/css?family=Cantarell:700|Open+Sans:400,600' rel='stylesheet'>
	<link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../js/libs/jquery-ui-1.8.22.custom/css/ui-lightness/jquery-ui-1.8.22.custom.css">
	<script src="../js/libs/modernizr-2.5.3-respond-1.1.0.min.js"></script>
    <style>
        .window {
            -moz-border-radius: 15px;
            border-radius: 15px;
            border: 4px solid #E0E0E0;
            background-color: white;
            padding: 5px;
        }
    </style>
</head>
<body>
<noscript>
	<div class="title">JavaScript is required.</div>
	<div class="subtitle">To use TopPatch, enable JavaScript in your browser and try again.</div>
	<hr/>
	<div class=""><a href="http://www.toppatch.com/"><img src="../img/logo-text.png" class="logo-text" alt="Top Patch logo"/></a></div>
</noscript>
<header class="pageHeader">
	<section class="navbar container">
		<div class="navbar-inner noRadius noShadow">
			<nav class="clearfix">
				<a class="brand" href="#">TopPatch</a>
				<ul class="nav pull-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="icon-cog"></i><span>Settings </span><b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
                            <li><a href="#" id="restore">Restore Defaults</a></li>
                            <li><a href="#" id="addwidget">Add Widget</a></li>
							<li><a href="#">Account Settings</a></li>
							<li class="divider"></li>
							<li><a href="#">Help</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="icon-user"></i><span>Username </span><b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li><a href="#">My Profile</a></li>
							<li class="divider"></li>
							<li><a href="#">Logout</a></li>
						</ul>
					</li>
				</ul>
			</nav>
		</div>
	</section>
</header>
<!--[if lt IE 7]<section class="container"><div class="alert alert-error chromeframe" id="ie-warning"><a class="close" data-dismiss="alert">×</a><strong>Top Patch does not support your browser.</strong> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</div></section><![endif]-->
<section class="container" role="main">
	<header class="page-header">
		<h1>Generic Report Title <small>Supporting text or tagline</small></h1>
	</header>
	<div id="container" class="row movable">
		<div id="widget1" class="span4 widget">
            <div id="graphcontainer" class="window">
                <header style="position: relative;">
                    <h2>Widget Title</h2>
                    <div id="menu1" class="dropdown pull-right" style="position: absolute; top: 0; right: 5px; line-height: 36px;">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#menu1"><i class="icon-list-ul"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" class="remove" onclick="hideWidget(this);">Hide</a></li>
                            <li><a data-toggle="modal" href="#widgetProperties" onclick="setProperties(this);">Properties</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                </header>
                <div id="graph1">
                    <!--<img src="http://placehold.it/300x200"/> -->
                </div>
            </div>
		</div>
		<div id="widget2" class="span8 widget">
            <div id="graph2container" class="window">
                <header style="position: relative;">
                    <h2>Widget Title</h2>
                    <div id="menu2" class="dropdown pull-right" style="position: absolute; top: 0; right: 5px; line-height: 36px;">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#menu2"><i class="icon-list-ul"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" class="remove" onclick="hideWidget(this);">Hide</a></li>
                            <li><a href="#widgetProperties" data-toggle="modal" onclick="setProperties(this);">Properties</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                </header>
                <div id="graph2">
                    <!--<img src="http://placehold.it/620x200"/>-->
                </div>
            </div>
		</div>
	</div>
    <div class="row movable">
        <div id="widget3" class="span12 widget">
            <div id="graph3container" class="window">
                <header style="position: relative;">
                    <h2>Widget Title</h2>
                    <div id="menu3" class="dropdown pull-right" style="position: absolute; top: 0; right: 5px; line-height: 36px;">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#menu3"><i class="icon-list-ul"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" class="remove" onclick="hideWidget(this);">Hide</a></li>
                            <li><a href="#widgetProperties" data-toggle="modal" onclick="setProperties(this);">Properties</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                </header>
                <div id="example2">
                    <!--<img src="http://placehold.it/620x200"/>-->
                </div>
            </div>
        </div>
    </div>
    <div id="insert" class="row movable"></div>
	<br />
	<div class="row movable">
		<div class="span12 widget">
			<header>
				<h2>Widget Title</h2>
			</header>
			<table id="data" class="table table-bordered table-striped"></table>
			<div class="pagination pagination-centered">
				<ul>
					<li><a href="#">Prev</a></li>
					<li class="active">
						<a href="#">1</a>
					</li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">Next</a></li>
				</ul>
			</div>
		</div>
	</div>
</section>
<div class="modal hide" id="widgetProperties">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>Chose a size</h3>
    </div>
    <div class="modal-body">
        <div id="size">
            <input type="radio" name="radio" id="radio2"  value="3"/><label for="radio2">3</label>
            <input type="radio" name="radio" id="radio3" value="4"/><label for="radio3">4</label>
            <input type="radio" name="radio" id="radio4" value="6"/><label for="radio4">6</label>
            <input type="radio" name="radio" id="radio5" value="12"/><label for="radio5">12</label>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
        <a href="#" class="btn btn-primary" id="apply">Save changes</a>
    </div>
</div>
<footer class="pageFooter">
	<section class="container">
		<div class="row">
			<p class="span3"><img src="../img/logo-text.png" class="logo-text" alt="Top Patch logo"/></p>
			<p class="span9 legal">&copy; 2012 TopPatch Inc. All rights reserved.</p>
		</div>
	</section>
</footer>
<!--/container -->

<!-- javascript libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../js/libs/jquery-1.7.2.min.js"><\/script>')</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.0.4/bootstrap.min.js"></script>
<script src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
<script src="http://backbonejs.org/backbone-min.js"></script>
<script>
	// The typeahead constructor is the last constructor defined in bootstrap.js
	// If it exists then bootstrap.js has, most likely, loaded properly.
	$.fn.typeahead.Constructor || document.write('<script src="../js/libs/bootstrap/bootstrap.min.js"><\/script>');
</script>
<script src="../js/libs/jquery-ui-1.8.22.custom/js/jquery-ui-1.8.22.custom.min.js"></script>

<!--/javascript libraries -->

<!-- javascript chart libraries -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/2.8.1/d3.v2.min.js"></script>
<script>window.d3 || document.write('<script src="../js/libs/charts/d3.v2.min.js"><\/script>')</script>
<!--
<script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script>window.Raphael || document.write('<script src="js/libs/charts/raphael-min.js"><\/script>')</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/graphael/0.5.0/g.raphael-min.js"></script>
<script>window.Raphael.g || document.write('<script src="js/libs/charts/g.raphael-min.js"><\/script>')</script>
-->
<!--/javascript chart libraries -->

<!-- Top Patch javascript -->
<script src="../js/script.min.js"></script>

<script>
	jQuery(document).ready(function($) {
		var table = $appName.generateTable().headerRow(true)
				.sort(function (a, b) {
					return a.score - b.score;
				});

		d3.json("../test-ajax/proposed_data.json", function(data) {
			d3.select("#data")
				.datum(data)
				.call(table);
		});
	});
</script>
<script type="text/javascript">

    var w = 220,                        //width
            h = 220,                            //height
            r = 100,                            //radius
            color = d3.scale.category20c();     //builtin range of colors

    data = [{"label":"windows", "value":60},
        {"label":"macos", "value":15},
        {"label":"linux", "value":25}];


    var vis = d3.select("#graph1")
            .append("svg:svg")              //create the SVG element inside the <body>
            .data([data])                   //associate our data with the document
            .attr("width", w)           //set the width and height of our visualization (these will be attributes of the <svg> tag
            .attr("height", h)
            .append("svg:g")                //make a group to hold our pie chart
            .attr("transform", "translate(" + r + "," + r + ")");  //move the center of the pie chart from 0, 0 to radius, radius

    var arc = d3.svg.arc()              //this will create <path> elements for us using arc data
            .outerRadius(r);

    var pie = d3.layout.pie()           //this will create arc data for us given a list of values
            .value(function(d) { return d.value; });    //we must tell it out to access the value of each element in our data array

    var arcs = vis.selectAll("g.slice")     //this selects all <g> elements with class slice (there aren't any yet)
            .data(pie)                          //associate the generated pie data (an array of arcs, each having startAngle, endAngle and value properties)
            .enter()                            //this will create <g> elements for every "extra" data element that should be associated with a selection. The result is creating a <g> for every object in the data array
            .append("svg:g")                //create a group to hold each slice (we will have a <path> and a <text> element associated with each slice)
            .attr("class", "slice");    //allow us to style things in the slices (like text)

    arcs.append("svg:path")
            .attr("fill", function(d, i) { return color(i); } ) //set the color for each slice to be chosen from the color function defined above
            .attr("d", arc);                                    //this creates the actual SVG path using the associated data (pie) with the arc drawing function

    arcs.append("svg:text")                                     //add a label to each slice
            .attr("transform", function(d) {                    //set the label's origin to the center of the arc
                //we have to make sure to set these before calling arc.centroid
                d.innerRadius = 0;
                d.outerRadius = r;
                return "translate(" + arc.centroid(d) + ")";        //this gives us a pair of coordinates like [50, 50]
            })
            .attr("text-anchor", "middle")                          //center the text on it's origin
            .text(function(d, i) { return data[i].label; });        //get the label from our original data array

</script>
<!--
<script type="text/javascript">

    var data = [{"label":"1990", "value":16},
        {"label":"1991", "value":56},
        {"label":"1992", "value":7},
        {"label":"1993", "value":77},
        {"label":"1994", "value":22},
        {"label":"1995", "value":16},
    ];

    //maximum of data you want to use
    var data_max = 80,

    //number of tickmarks to use
            num_ticks = 5,

    //margins
            left_margin = 60,
            right_margin = 60,
            top_margin = 30,
            bottom_margin = 0;


    var w = 500,                        //width
            h = 500,                        //height
            color = function(id) { return '#00b3dc' };

    var x = d3.scale.linear()
                    .domain([0, data_max])
                    .range([0, w - ( left_margin + right_margin ) ])
                    ,
            y = d3.scale.ordinal()
                    .domain(d3.range(data.length))
                    .rangeBands([bottom_margin, h - top_margin], .5)
                    ;


    var chart_top = h - y.rangeBand()/2 - top_margin;
    var chart_bottom = bottom_margin + y.rangeBand()/2;
    var chart_left = left_margin;
    var chart_right = w - right_margin;

    /*
     *  Setup the SVG element and position it
     */
    var vis = d3.select("#example")
            .append("svg:svg")
            .attr("width", w)
            .attr("height", h)
            .append("svg:g")
            .attr("id", "barchart")
            .attr("class", "barchart")


    //Ticks
    var rules = vis.selectAll("g.rule")
            .data(x.ticks(num_ticks))
            .enter()
            .append("svg:g")
            .attr("transform", function(d)
            {
                return "translate(" + (chart_left + x(d)) + ")";});
    rules.append("svg:line")
            .attr("class", "tick")
            .attr("y1", chart_top)
            .attr("y2", chart_top + 4)
            .attr("stroke", "black");

    rules.append("svg:text")
            .attr("class", "tick_label")
            .attr("text-anchor", "middle")
            .attr("y", chart_top)
            .text(function(d)
            {
                return d;
            });
    var bbox = vis.selectAll(".tick_label").node().getBBox();
    vis.selectAll(".tick_label")
            .attr("transform", function(d)
            {
                return "translate(0," + (bbox.height) + ")";
            });

    var bars = vis.selectAll("g.bar")
            .data(data)
            .enter()
            .append("svg:g")
            .attr("class", "bar")
            .attr("transform", function(d, i) { return "translate(0, " + y(i) + ")"; });

    bars.append("svg:rect")
            .attr("x", right_margin)
            .attr("width", function(d) {
                return (x(d.value));
            })
            .attr("height", y.rangeBand())
            .attr("fill", color(0))
            .attr("stroke", color(0));



    //Labels
    var labels = vis.selectAll("g.bar")
            .append("svg:text")
            .attr("class", "label")
            .attr("x", 0)
            .attr("text-anchor", "right")
            .text(function(d) {
                return d.label;
            });

    var bbox = labels.node().getBBox();
    vis.selectAll(".label")
            .attr("transform", function(d) {
                return "translate(0, " + (y.rangeBand()/2 + bbox.height/4) + ")";
            });


    labels = vis.selectAll("g.bar")
            .append("svg:text")
            .attr("class", "value")
            .attr("x", function(d)
            {
                return x(d.value) + right_margin + 10;
            })
            .attr("text-anchor", "left")
            .text(function(d)
            {
                return "" + d.value + "%";
            });

    bbox = labels.node().getBBox();
    vis.selectAll(".value")
            .attr("transform", function(d)
            {
                return "translate(0, " + (y.rangeBand()/2 + bbox.height/4) + ")";
            });

    //Axes
    vis.append("svg:line")
            .attr("class", "axes")
            .attr("x1", chart_left)
            .attr("x2", chart_left)
            .attr("y1", chart_bottom)
            .attr("y2", chart_top)
            .attr("stroke", "black");
    vis.append("svg:line")
            .attr("class", "axes")
            .attr("x1", chart_left)
            .attr("x2", chart_right)
            .attr("y1", chart_top)
            .attr("y2", chart_top)
            .attr("stroke", "black");

</script> -->

<script>
var data = [{year: "vulnerable", books: 54},
            {year: "secure", books: 43},
            {year: "patched", books: 41},
            {year: "pending", books: 44},
            {year: "nodes", books: 65}];

var barWidth = 70;
var width = (barWidth + 10) * data.length;
var height = 200;

var x = d3.scale.linear()
        .domain([0, data.length])
        .range([0, width]);
var y = d3.scale.linear()
        .domain([0, d3.max(data, function(datum) { return datum.books; })])
        .rangeRound([0, height]);

// add the canvas to the DOM
var barDemo = d3.select("#graph2").
    append("svg:svg").
    attr("width", width).
    attr("height", height+20);

barDemo.selectAll("rect").
    data(data).
    enter().
    append("svg:rect").
    attr("x", function(datum, index) { return x(index); }).
    attr("y", function(datum) { return height - y(datum.books); }).
    attr("height", function(datum) { return y(datum.books); }).
    attr("width", barWidth).
    attr("fill", "#2d578b");

barDemo.selectAll("text").
        data(data).
        enter().
        append("svg:text").
        attr("x", function(datum, index) { return x(index) + barWidth-20; }).
        attr("y", function(datum) { return height - y(datum.books); }).
        attr("dx", -barWidth/2).
        attr("dy", "1.2em").
        attr("text-anchor", "middle").
        attr("style", "font-size: 10").
        text(function(datum) { return datum.books;}).
        attr("fill", "white");

barDemo.selectAll("text.yAxis")
        .data(data)
        .enter().append("svg:text")
        .attr("x", function(datum, index) { return x(index) + barWidth-20; })
        .attr("y", height+10)
        .attr("dx", -barWidth/2)
        .attr("text-anchor", "middle")
        .attr("style", "font-size: 10")
        .text(function(datum) { return datum.year;})
        .attr('transform', 'translate(15, 5)')
        .attr("class", "yAxis");
</script>
<script type="text/template" id="widget_template">
    <div id="<%= widget %>" class="<%= span %> widget">
        <div id="<%= graphcontainer %>" class="window">
            <header style="position: relative;">
                <h2>Widget Title</h2>
                <div id="<%= menu %>" class="dropdown pull-right" style="position: absolute; top: 0; right: 5px; line-height: 36px;">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#<%= menu %>"><i class="icon-list-ul"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" class="remove" onclick="hideWidget(this);">Hide</a></li>
                        <li><a data-toggle="modal" href="#widgetProperties" onclick="setProperties(this);">Properties</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>
            </header>
            <div id="<%= graph %>">
            </div>
        </div>
    </div>
</script>
<script>
    //$(document).ready(function() {
        //$("#graphcontainer").css({"border":"1px solid black", "height": "350px", "background-color":"white"});
        /*
        $("#graphcontainer").draggable({ containment: "#container" })
                            .resizable({ maxHeight: 350,
                                         maxWidth: 350,
                                         minHeight: 300,
                                         minWidth: 250 })
                            .mouseover(function(){ $(this).css("z-index","5"); })
                            .mouseout(function(){ $(this).css("z-index","1"); });
        */
        //$("#graph2container").css({"border":"1px solid black", "height": "350px", "background-color":"white"});
        /*
        $("#graph2container").draggable({ containment: "#container" })
                            .resizable({ maxHeight: 350,
                                         maxWidth: 650,
                                         minHeight: 300,
                                         minWidth: 450 })
                            .mouseover(function(){ $(this).css("z-index","5"); })
                            .mouseout(function(){ $(this).css("z-index","1"); });

         */
    WidgetView = Backbone.View.extend({
        initialize: function(){
            this.counter = 4;
            //this.render();
        },
        render: function(){
            //Pass variables in using Underscore.js Template
            var variables = { widget: "widget"+this.counter,
                              span: "span4",
                              graphcontainer: "graphcontainer"+this.counter,
                              menu: "menu"+this.counter,
                              graph: "graph"+this.counter };
            // Compile the template using underscore
            var template = _.template( $("#widget_template").html(), variables );
            // Load the compiled HTML into the Backbone "el"
            $(this.el).append( template );
            this.counter++;
        }
    });
    var widgetview = new WidgetView({ el: $("#insert") });

    Properties = Backbone.Model.extend({
        defaults: {
            widgetName: "widget1"
        },
        initialize: function(){
            /*
            this.bind("change:widgetName", function(){
                var name = this.get("widgetName"); // 'Stewie Griffin'
                alert("Changed my name to " + name );
            }); */
        }
    });
    var properties = new Properties;
    function setProperties(obj){
        properties.set({ widgetName: $(obj).parent().parent().parent().parent().parent().parent().attr("id") });
    }
    function hideWidget(obj){
        $(obj).parent().parent().parent().parent().parent().parent().hide();
    }

    $(".dropdown-toggle").dropdown();
    $( ".movable" ).sortable({ connectWith: '.movable' });
    $("#restore").click(function(){ $(".widget").show(); });
    $("#size").buttonset();
    $("#apply").click(function(){
        var sizeval = $('input:radio[name=radio]:checked').val();
        var widget = properties.get("widgetName");
        var myClass = $("#"+widget).attr("class");
        //alert (sizeval + widget + myClass);
        $("#"+widget).removeClass(myClass);
        $("#"+widget).addClass("span"+sizeval+" widget");
        $("#widgetProperties").modal('hide');
    });
    $("#addwidget").click(function(){ widgetview.render(); });
        //$( ".row" ).disableSelection();

    //});
</script>
<!--
<script>
   // simple array
   var data = [8, 12, 15, 30, 43];
   // variables for chart width and height
   var w = 20,
           h = 50;
   var chart = d3.select("#example").append("svg")
           .attr("class", "chart")
           .attr("width", w * data.length)
           .attr("height", h);
   var x = d3.scale.linear()
           .domain([0, 1])
           .range([0, w]);

   var y = d3.scale.linear()
           .domain([0, 50])
           .rangeRound([0, h]); //rangeRound is used for antialiasing
   // x and y are the lower-left position of the bar
   // width is the width of the bar
   // height is the height of the bar
   // for crisp edges use -.5 (antialiasing)
   chart.selectAll("rect")
           .data(data)
           .enter().append("rect")
           .attr("x", function(d, i) { return x(i) - .5; })
           .attr("y", function(d) { return h - y(d) - .5; })
           .attr("width", w)
           .attr("height", function(d) { return y(d); } );
   chart.append("line")
           .attr("x1", 0)
           .attr("x2", w * data.length)
           .attr("y1", h - .5)
           .attr("y2", h - .5)
           .style("stroke", "#000");
</script> -->

<!--/Top Patch javascript -->

</body>
</html>